---
title: 2024 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">Redefining Burden</h2>
          </div>
          <div class="headline">
                <h2>Savanna Daquila</h2>
          </div>
          <div class="abstract">
          <p class="abstract">Informal caregivers (ICs) are typically unpaid caregivers who support activities of daily living for a family member or loved one. As individuals live longer, this topic grows within the global physical and mental health conversation. Many examinations of informal caregiver experiences cite caregivers’ having various outcomes due to demographic characteristics, such as socioeconomic status, gender, and race. Within the same literature, studies also report caregivers experiencing higher rates of ‘burden’ than the general populace. This study examines race, gender, and financial costs concerning the experience of caregiver ‘burden’ and, importantly, what is meant when the word ‘burden’ is used in caregiving contexts. If demographic characteristics are a moderating variable in caregiving experiences, it would seem that ‘burden’ may relate to existing systematic inequalities that are possibly further exacerbated within healthcare contexts. Therefore, grouping experiences with the term ‘burden’ assumes a homogeneity between caregiver experiences that may not accurately reflect lived experiences. This study used mixed methodology on approximately 40 participants who identified as informal caregivers. Results indicate high rates of burden and high rates of self-reported physical health, except in participants caring for someone with cancer, who reported higher levels of burden. Qualitatively, participants indicated their race, gender, and finances play a role in moderating their experiences as a caregiver, namely related to gender social scripts, racial discrimination, and costs of formal services and treatment options.</p>

        </div>
      </div>
    </div>
