---
title: 2024 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">Mallarmé’s theory of language</h2>
          </div>
          <div class="headline">
                <h2>Michele Morelli</h2>
          </div>
          <div class="abstract">
          <p class="abstract">My presentation will address the question <i>How do poems, lyrics, oral stories, and other forms of art differ, if at all, from “ordinary” language use?</i>; I will provide a potential answer by inquiring into Mallarmé’s theory of language.</p>

          <p class="abstract">The French poet, in his prose piece <i>Crise de vers</i>, among other places, dramatizes the tension between a phenomenally-bound language geared toward clarity, transmission of information, and cognitive or sense-based validation (what we come to call “ordinary”), and its ideal, perfect, and “truthful” counterpart (one could say noumenal language). Navigating the problem of referentiality that only later will come to be formulated in terms of signifier and signified, Mallarmé mediates the apparent void that an ideally denotative idiom casts onto the conventional practices of ordinary signification. Oscillating between epistemological and aesthetic considerations, Mallarmé defines the space uniting the polarities at stake as the language of poetry.</p>

          <p class="abstract">I will discuss how the artificial character of language, ossified by the frame of ordinary cognition, fulfills its creative––and ambiguous––potential when elaborated poetically. In this context, I will consider the implications for the referential function of language: frayed but upheld, expanded but manipulated through reflection, the ambiguity that imbues the poetic word will confront us with a set of questions. What do the properties of language tell us about those of cognition? What does poetry do to show us the limits of the latter? And lastly, can the aesthetic category of verse illuminate linguistic predicaments usually addressed from an epistemological angle?</p>

          <p class="abstract">Mallarmé confronts problematics rooted in Kant and Hegel, while concretizing early “modern” concerns with language that fuel structural and post-structural approaches to linguistics, self-appointing as a precious interlocutor for the matter at stake.</p>

        </div>
      </div>
    </div>
