---
title: 2024 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">Language & Thought</h2>
          </div>
          <div class="headline">
                <h2>Ellen Burns</h2>
          </div>
          <div class="abstract">
          <p class="abstract">A historically dominant conceptualization of language in philosophy and other fields frames it as a vehicle for communication. On such a view, the function of language and its semantics is often conceived in terms of communicative intent. Grice (1957), for instance, argues that we can analyse the meaning of an utterance in terms of the utterer's intentions. Drawing on Noam Chomsky, in this paper I discuss a less dominant view in which language is conceived as a vehicle for thought as well as the view’s application in contemporary cognitive linguistics. I then discuss what these two different conceptualizations of language suggest about the unconscious mind and its relation to consciousness. When language is conceived as a vehicle for communication, I argue, it is suggested that much if not all of our linguistic lives are a conscious phenomenon–something that, as John Searle puts it, we can at least <i>in principle</i> access in conscious or first-personal terms. When language is conceived as a vehicle for thought, in contrast, the possibility is left open that language has deeper roots in the unconscious. I argue that the study of language as a biological object of the human mind/brain supports conceiving of language as a vehicle for thought. I also contend that this conceptualization of language can account for the central role that language plays in communication, thereby integrating twentieth and twenty-first century philosophical work on language with emerging empirical research on it.</p>

        </div>
      </div>
    </div>
