---
title: 2024 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">A Bayesian Meta-analysis of Emotional Intelligence in Children With and Without Developmental Language Disorder</h2>
          </div>
          <div class="headline">
                <h2 style="padding-left:10%; padding-right:10%">Elizabeth S. Che, Patricia J. Brooks, & Nicole Zapparrata</h2>
          </div>
          <div class="abstract">
          <p class="abstract">According to constructivist theories of emotional intelligence (Feldman Barrett, 2017; Lindquist, 2017), language helps children learn to recognize, interpret, and regulate emotions. Under this view, children who experience difficulties acquiring language are expected to also show delays in social-emotional development. One such population is children with developmental language disorder (DLD)––a communication disorder affecting language learning, understanding, and usage. According to prevalence studies, approximately 7% of children have DLD (Norbury et al., 2016; Tomblin et al., 1997). </p>

          <p class="abstract">This pre-registered meta-analysis examined whether groups of children with DLD differ from age-matched groups with neurotypical development (TYP) on measures of emotion recognition, understanding, and regulation. Based on a database search of EBSCO and PubMed and listserv announcements, we aimed to review all studies comparing DLD and TYP groups on one or more measures of emotional intelligence. The final meta-analytic sample comprised 25 studies (k) with 74 effects (m) involving 1,475 children with DLD and 3,101 age-matched children, Mage = 7 years, 7 months (SD = 3 years). </p> 
 
          <p class="abstract">We conducted a hierarchical random-effects Bayesian meta-analysis using the Metafor (Viechtbauer et al., 2010), Rombumeta (Fisher et al., 2016), and Rjags (Plummer et al., 2022) statistical packages in RStudio. The overall effect (𝜇) was estimated at – .71 (medium-large effect; Credible Interval [CrI] = [–.96, –.47]. Note that negative values of 𝜇 indicated poorer performance in DLD groups relative to age-matched comparison groups. Figure 1 presents results of subgroup analyses by task type. Across measures of emotion recognition, understanding, and regulation, DLD groups showed impairments. Because the meta-analysis was conducted at the level of groups, one cannot conclude that every child with DLD will show deficits in emotional recognition, understanding, and/or regulation. However, DLD appears to be strongly associated with risk of emotion-related difficulties, which has implications for social development.</p>

        </div>
      </div>
    </div>
