---
title: Anna Mercier-Game | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
        <div class="view view-latest-articles view-id-latest_articles view-display-id-block_1 js-view-dom-id-bff5297a02465334a9bb30fa2e1be30247ca59ce95043187061fd8c068f610cf">
        <div class="view-content">
        <div data-drupal-views-infinite-scroll-content-wrapper class="views-infinite-scroll-content-wrapper clearfix">
       <div class="views-row" style="padding-bottom:0; margin-top:0.625rem; border:0px">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser" style="border: 0px; padding-top:1rem; padding-bottom:0; margin-bottom:0">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                      <img src="/images/people/anna_mercier.jpg" alt="Anna Mercier-Game" title="Anna Mercier-Game"/>
                  </div>
                  <div>
                  </div>
                  <div>
                  <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em">
                      Anna Mercier-Game
                    </h2>
                  </div>
                  <a href="mailto:merca610@newschool.edu"><h2 class="contact">merca610 [at] newschool.edu</h2></a>
                  </div>
                  </article>
              </div>
            </article>
          </div>
          <div class="bio">
          <p class="bio">Anna is a second-year M.A. student in the General Psychology program pursuing a concentration in Mental Health and Substance Use Disorder Counseling. Her research focuses on non-verbal contingency between mothers and infants, attachment theory, and the links between language and sense of self. She holds an M.Sc. in Psychology from the United Kingdom with a thesis phenomenologically exploring how emerging adults make sense of their multicultural experiences, notably linguistically and relationally.</p>
        </div>
        </div>
        </div>
        </div>
      </div>
    </div>
