---
title: Eva Piras | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
        <div class="view view-latest-articles view-id-latest_articles view-display-id-block_1 js-view-dom-id-bff5297a02465334a9bb30fa2e1be30247ca59ce95043187061fd8c068f610cf">
        <div class="view-content">
        <div data-drupal-views-infinite-scroll-content-wrapper class="views-infinite-scroll-content-wrapper clearfix">
       <div class="views-row" style="padding-bottom:0; margin-top:0.625rem; border:0px">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser" style="border: 0px; padding-top:1rem; padding-bottom:0; margin-bottom:0">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                      <img src="/images/people/eva_piras.jpg" alt="Eva Piras" title="Eva Piras"/>
                  </div>
                  <div>
                  </div>
                  <div>
                  <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em">
                      Eva Piras
                    </h2>
                  </div>
                  <a href="mailto:pirae418@newschool.edu"><h2 class="contact">pirae418 [at] newschool.edu</h2></a>
                  </div>
                  </article>
              </div>
            </article>
          </div>
          <div class="bio">
          <p class="bio">Eva Piras is a Psychology M.A. student currently pursuing her fourth academic degree, with a background in both psychology and criminology and plans to advance to a Ph.D. Her research focuses on the intersection of attachment, body image, and eating disorders, particularly anorexia nervosa, while also exploring the development of innovative group therapies. Drawing from her criminology training, Eva is deeply interested in how systemic structures, stigma, and marginalization shape mental health. She is committed to socially responsible research that supports underrepresented communities and drives meaningful change in both clinical and justice-oriented contexts.</p>
        </div>
        </div>
        </div>
        </div>
      </div>
    </div>
