---
title: Humans | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
  <div class="view view-upcoming-events view-id-upcoming_events view-display-id-past_events js-view-dom-id-415fd4f39d99faad3fa0ec0f16e917272db3da2adfbd38794a04fbb3522e4cc3">
    <div>
      <div class="view view-latest-articles view-id-latest_articles view-display-id-block_1 js-view-dom-id-bff5297a02465334a9bb30fa2e1be30247ca59ce95043187061fd8c068f610cf">

        <div class="view-content">
        <div data-drupal-views-infinite-scroll-content-wrapper class="views-infinite-scroll-content-wrapper clearfix">
        <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2>
                    <a class="name-and-site" href="https://ruthefoushee.com/" rel="bookmark">
                      <img src="/images/people/ruthe_foushee_photo_by_Erielle_Bakkum2.jpg" alt="Ruthe Foushee; photo cred: Erielle Bakkum" title="Ruthe Foushee; photo cred: Erielle Bakkum"/>
                      Ruthe Foushee
                    </a>
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    P.I.

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2>
                    <a class="name-and-site" href="/humans/sarah_goodman.html" rel="bookmark">
                      <img src="/images/people/sarah_goodman.jpg" alt="Sarah Goodman" title="Sarah Goodman"/>
                        Sarah Goodman
                    </a>
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    Lab Manager

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em;">
                      <img src="/images/people/sydney_segal.jpg" alt="Sydney Segal" title="Sydney Segal"/>
                        Sydney Segal
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    Clinical PhD Student

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
            <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2>
                    <a class="name-and-site" href="/humans/travis_stackow.html" rel="bookmark">
                      <img src="/images/people/travis_stackow.jpg" alt="Travis Stackow" title="Travis Stackow"/>
                      Travis Stackow
                    </a>
                    </h2>
                  </div>
                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    CSD PhD Student
                </div>
              </div>
            </article>
          </div>
        
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2>
                    <a class="name-and-site" href="https://www.simone-calbi.com/" rel="bookmark">
                      <img src="/images/people/simone_calbi.jpg" alt="Simone Calbi" title="Simone Calbi"/>
                      Simone Calbi
                    </a>
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    CSD PhD Student
                </div>
              </div>
            </article>
          </div>

          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em;">
                      <img src="/images/people/lorraine_afflitto.jpg" alt="Lorraine Afflitto" title="Lorraine Afflitto"/>
                        Lorraine Afflitto
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    CSD PhD Student
                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2>
                    <a class="name-and-site" href="/humans/anna_mercier.html" rel="bookmark">
                      <img src="/images/people/anna_mercier.jpg" alt="Anna Mercier-Game" title="Anna Mercier-Game"/>
                        Anna Mercier-Game
                    </a>
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    M.A. Student Researcher

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
            <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2>
                    <a class="name-and-site" href="/humans/silver_liftin.html" rel="bookmark">
                      <img src="/images/people/silver_liftin.png" alt="Silver Liftin" title="Silver Liftin"/>
                        Silver Liftin
                    </a>
                    </h2>
                  </div>
                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    M.A. Student Researcher
                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em;">
                      <img src="/images/people/eva_piras.jpg" alt="Eva Piras" title="Eva Piras"/>
                      Eva Piras
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    M.A. Student Researcher

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em;">
                      <img src="/images/people/linfei_yang.jpg" alt="Linfei Yang" title="Linfei Yang"/>
                      Linfei Yang
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    M.A. Student Researcher

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em;">
                      <img src="/images/people/grace_johnson.jpg" alt="Grace Johnson" title="Grace Johnson"/>
                      Grace Johnson
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    Undergraduate Researcher, <a href="https://www.newschool.edu/parsons/">Parsons</a>

                </div>
              </div>
            </article>
          </div>
          
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em;">
                      <img src="/images/people/henri_winter.jpg" alt="Henri Winter" title="Henri Winter"/>
                      Henri Winter
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    <a href="https://www.newschool.edu/lang/">Eugene Lang</a> Research Intern

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em;">
                      <img src="/images/people/nathan_simon.jpg" alt="Nathan Simon" title="Nathan Simon"/>
                      Nathan Simon
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    <a href="https://www.newschool.edu/lang/">Eugene Lang</a> Research Intern

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2>
                    <a class="name-and-site" href="/humans/isha_rawal.html" rel="bookmark">
                      <img src="/images/people/isha_rawal.jpg" alt="Isha Rawal" title="Isha Rawal"/>
                        Isha Rawal
                    </a>
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    Research Intern, Arizona State University

                </div>
              </div>
            </article>
          </div>
           <div class="views-row">
            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em;">
                      <img src="/images/people/taxito_ennui.jpeg" alt="Taxito Ennui" title="Taxito Ennui"/>
                      Taxito Ennui
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    Under-undergraduate Researcher

                </div>
              </div>
            </article>
          </div>
            </article>
          </div>
            </article>
          </div>
            </article>
          </div>
        </div>
      </div>
       <div class="headline">
                <h2 style="font-family: 'Neue';
    border-bottom: 0.125rem dashed #000;
    border-top: 0.125rem dashed #000;
    display: block;
    text-decoration: none;
    padding: 0.625rem 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;">Previous Lab Members</h2>
          </div>
    <div class="view view-latest-articles view-id-latest_articles view-display-id-block_1 js-view-dom-id-bff5297a02465334a9bb30fa2e1be30247ca59ce95043187061fd8c068f610cf">

        <div class="view-content">
        <div data-drupal-views-infinite-scroll-content-wrapper class="views-infinite-scroll-content-wrapper clearfix">

          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em;">
                      <img src="/images/people/robyn_attarian.jpg" alt="Robyn Attarian" title="Robyn Attarian"/>
                        Robyn Attarian, M.A.
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    Graduate Student Researcher

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2>
                    <a class="name-and-site" href="https://scholar.google.com/citations?user=bP1KzJYAAAAJ&hl=en" rel="bookmark">
                      <img src="/images/people/gen_tsudaka.jpg" alt="Gen Tsudaka" title="Gen Tsudaka"/>
                      Gen Tsudaka, Ph.D.
                    </a>
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    CSD PhD Student

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2>
                    <a class="name-and-site" href="https://www.simone-calbi.com/" rel="bookmark">
                      <img src="/images/people/ana_hafley.jpg" alt="Ana Hafley" title="Ana Hafley"/>
                      Ana Hafley, B.A.
                    </a>
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    <a href="https://www.newschool.edu/lang/">Eugene Lang</a> Senior Capstone Student

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em;">
                      <img src="/images/people/nivi_gargi.jpg" alt="Nivi Gargi" title="Nivi Gargi"/>
                      Nivi Gargi, B.A.
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    <a href="https://www.newschool.edu/lang/">Eugene Lang</a> Senior Capstone Student

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em;">
                      <img src="/images/people/arnold_yiu.jpg" alt="Arnold Yiu" title="Arnold Yiu"/>
                      Arnold Yiu, B.F.A.
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    Undergraduate Researcher, <a href="https://www.newschool.edu/parsons/">Parsons</a>
                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em;">
                      <img src="/images/people/jackie_mcvorran.png" alt="Jackie McVorran" title="Jackie McVorran"/>
                      Jackie McVorran, B.A.
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    Undergraduate Researcher, <a href="https://www.newschool.edu/lang/">Eugene Lang</a>

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em;">
                      <img src="/images/people/jay_krizan.jpg" alt="Jay Krizan" title="Jay Krizan"/>
                      Jay Krizan, B.A.
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    Undergraduate Researcher, <a href="https://www.newschool.edu/lang/">Eugene Lang</a>

                </div>
              </div>
            </article>
          </div>
            </article>
          </div>
            </article>
          </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>