---
title: Humans | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
  <div class="view view-upcoming-events view-id-upcoming_events view-display-id-past_events js-view-dom-id-415fd4f39d99faad3fa0ec0f16e917272db3da2adfbd38794a04fbb3522e4cc3">
    <div>
    [This page is in progress!]

      <div class="view view-latest-articles view-id-latest_articles view-display-id-block_1 js-view-dom-id-bff5297a02465334a9bb30fa2e1be30247ca59ce95043187061fd8c068f610cf">

        <div class="view-content">
        <div data-drupal-views-infinite-scroll-content-wrapper class="views-infinite-scroll-content-wrapper clearfix">
        <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2>
                    <a class="name-and-site" href="https://ruthefoushee.com/" rel="bookmark">
                      <img src="images/people/ruthe_foushee.jpg" alt="Ruthe Foushee" title="Ruthe Foushee"/>
                      Ruthe Foushee
                    </a>
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    P.I.

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2>
                    <a class="name-and-site" href="https://www.gentsudaka.com/" rel="bookmark">
                      <img src="images/people/gen_tsudaka.jpg" alt="Gen Tsudaka" title="Gen Tsudaka"/>
                      Gen Tsudaka
                    </a>
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    Lab Manager

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2>
                    <a class="name-and-site" href="https://www.simone-calbi.com/" rel="bookmark">
                      <img src="images/people/simone_calbi.jpg" alt="Simone Calbi" title="Simone Calbi"/>
                      Simone Calbi
                    </a>
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    Graduate Student Researcher

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2>
                    <a class="name-and-site" href="https://event.newschool.edu/contemporaryissues" rel="bookmark">
                      <img src="images/people/robyn_attarian.jpg" alt="Robyn Attarian" title="Robyn Attarian"/>
                      Robyn Attarian
                    </a>
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    Graduate Student Researcher

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em;">
                      <img src="images/people/sydney_segal.jpg" alt="Sydney Segal" title="Sydney Segal"/>
                        Sydney Segal
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    Graduate Student Researcher

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2 style="font-family: 'Neue',sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size:1.25em;">
                      <img src="images/people/travis_stackow.jpg" alt="Travis Stackow" title="Travis Stackow"/>
                      Travis Stackow
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    Graduate Student Researcher

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em;">
                      <img src="images/people/ana_hafley.jpeg" alt="Ana Hafley" title="Ana Hafley"/>
                      Ana Hafley
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    Undergraduate Student Researcher

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">
            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em;">
                      <img src="images/people/jay_krizan.jpg" alt="Jay Krizan" title="Jay Krizan"/>
                      Jay Krizan
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    Undergraduate Student Researcher

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">
            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em;">
                      <img src="images/people/jackie_mcvorran.png" alt="Jackie McVorran" title="Jackie McVorran"/>
                      Jackie McVorran
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    Undergraduate Student Researcher

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em;">
                      <img src="images/people/henri_winter.jpg" alt="Henri Winter" title="Henri Winter"/>
                      Henri Winter
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    Undergraduate Student Researcher

                </div>
              </div>
            </article>
          </div>
          <div class="views-row">
            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em;">
                      <img src="images/people/arnold_yiu.jpg" alt="Arnold Yiu" title="Arnold Yiu"/>
                      Arnold Yiu
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    Undergraduate Student Researcher

                </div>
              </div>
            </article>
          </div>
           <div class="views-row">
            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                    <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em;">
                      <img src="images/people/taxito_ennui.jpeg" alt="Taxito Ennui" title="Taxito Ennui"/>
                      Taxito Ennui
                    </h2>
                  </div>

                  <div class="field field--name-field-event-dates field--type-smartdate field--label-hidden field__item">
                    Under-undergraduate Student Researcher

                </div>
              </div>
            </article>
          </div>
          
        </div>
      </div>
    </div>

  </div>