---
title: Events | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
  <div class="view view-upcoming-events view-id-upcoming_events view-display-id-past_events js-view-dom-id-415fd4f39d99faad3fa0ec0f16e917272db3da2adfbd38794a04fbb3522e4cc3">
    <div>
      <div class="view view-latest-articles view-id-latest_articles view-display-id-block_1 js-view-dom-id-bff5297a02465334a9bb30fa2e1be30247ca59ce95043187061fd8c068f610cf">

        <div class="view-content">
        <div data-drupal-views-infinite-scroll-content-wrapper class="views-infinite-scroll-content-wrapper clearfix">
        <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Panel 1
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="2024/bayesian" rel="bookmark">
                        Emotional Intelligence in Children With & Without DLD
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item"><a href="https://eche.commons.gc.cuny.edu/">Elizabeth S. Che</a>, <a href="https://www.gc.cuny.edu/people/patricia-brooks">Patricia J. Brooks</a>, & Nicole Zapparrata</div>
                              </div>
                              <a class="dept" href="https://www.gc.cuny.edu/psychology">CUNY Educational Psychology</a>

                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                    Developmental Psychology
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/bayesian" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/Language_What_Is_It_Good_For_Crop.jpeg" alt="langconf" title="langconf"/>
                </a>
              </div>
            </article>
          </div>
        <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Panel 1
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="2024/misunderstanding" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">How Well Do We Really Understand Social Media?</span>
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item"><a href="https://www.rebeccadolgin.com/what-we-do">Rebecca Dolgin</a>, <a href="https://www.simone-calbi.com/">Simone Calbi</a>, Jeffrey Huang, & <a href="https://www.newschool.edu/nssr/faculty/michael-schober/">Michael F. Schober</a></div>
                              </div>
                              <a class="dept" href="https://www.newschool.edu/nssr/psychology/">NSSR Psychology</a>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                     Psycholinguistics
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/misunderstanding" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/talk-thumbnails/IMG_6507.jpg" alt="rebecca" title="rebecca"/>
                </a>
              </div>
            </article>
          </div>
        <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Panel 1
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="2024/emoreg" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Longitudinal Reciprocal Effects of Emotion Regulation & Vocabulary Knowledge</span>
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item"><a href="https://jmoses197.wixsite.com/juliamosespsych">Julia Moses</a></div>
                              </div>
                              <a class="dept" href="https://www.gc.cuny.edu/psychology">CUNY Educational Psychology</a>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                   Developmental Psychology
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/emoreg" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/talk-thumbnails/IMG_6506.jpg" alt="julia" title="julia"/>
                </a>
              </div>
            </article>
          </div>
        <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Panel 2
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="2024/plato" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Plato</span>
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">Kasen Scharmann</div>
                              </div>
                              <a class="dept" href="https://www.gc.cuny.edu/philosophy">CUNY Philosophy</a>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                    Philosophy
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/plato" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/talk-thumbnails/IMG_6512.jpg" alt="kasen" title="kasen"/>
                </a>
              </div>
            </article>
          </div>
          <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Panel 2
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="2024/landt" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Language & Thought</span>
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item"><a href="https://philosophy.columbia.edu/content/ellen-nora-burns">Ellen Burns</a></div>
                              </div>
                              <a class="dept" href="https://philosophy.columbia.edu/">Columbia University Philosophy</a>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                    Linguistics
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/landt" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/talk-thumbnails/IMG_6513.jpg" alt="ellen" title="ellen"/>
                </a>
              </div>
            </article>
          </div>
          <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Panel 2
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="2024/hegel" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Hegel - Recognition</span>
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">Andrew Tessman</div>
                              </div>
                              <a class="dept" href="https://www.newschool.edu/nssr/philosophy/">NSSR Philosophy</a>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                    Philosophy
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/hegel" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/Language_What_Is_It_Good_For_Crop.jpeg" alt="langconf" title="langconf"/>
                </a>
              </div>
            </article>
          </div>
          <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Panel 2
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="2024/polyphonic" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">The Polyphonic Self</span>
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item"><a href="https://publicseminar.org/author/nkupper/">Noah Kupper</a></div>
                              </div>
                              <a class="dept" href="https://www.newschool.edu/nssr/philosophy/">NSSR Philosophy</a>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                    Philosophy
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/polyphonic" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/talk-thumbnails/sandpit-turtle.png" alt="turtle" title="turtle"/>
                </a>
              </div>
            </article>
          </div>
          <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Panel 3
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="2024/metaphor" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Playing with Metaphors</span>
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">Kyle O'Dowd</div>
                              </div>
                              <a class="dept" href="https://www.newschool.edu/nssr/philosophy/">NSSR Philosophy</a>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                    Philosophy
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/metaphor" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/talk-thumbnails/IMG_6520.jpg" alt="kyle" title="kyle"/>
                </a>
              </div>
            </article>
          </div>
          <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Panel 3
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="2024/situation" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Situation, Episode, & Event</span>
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">Benjamin Haile</div>
                              </div>
                              <a class="dept" href="https://www.newschool.edu/nssr/philosophy/">NSSR Philosophy</a>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                    Philosophy
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/situation" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/talk-thumbnails/cruel_optimism_crop.jpeg" alt="berlant" title="berlant"/>
                </a>
              </div>
            </article>
          </div>
          <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Panel 3
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="2024/mallarme" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Mallarmé’s Theory of Language</span>
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">Michele Morelli</div>
                              </div>
                              <a class="dept" href="https://complit.princeton.edu/">Princeton University Comparative Literature</a>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                    Literature
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/mallarme" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/talk-thumbnails/mallarme.jpeg" alt="mallarme" title="mallarme"/>
                </a>
              </div>
            </article>
          </div>
          <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Panel 3
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="2024/babel" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">The Tower of Babel as a Theoretical Image</span>
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item"><a href="https://brazillab.princeton.edu/people/jonathan-romero">Jonathan A. Romero</a></div>
                              </div>
                              <a class="dept" href="https://spo.princeton.edu/">Princeton University Spanish & Portuguese Studies</a>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                    Cultural Studies
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/babel" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/talk-thumbnails/babel.jpeg" alt="babel" title="babel"/>
                </a>
              </div>
            </article>
          </div>
          <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Panel 4
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="2024/alienated" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Alienated Language in Colonial Afterlives</span>
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item"><a href="https://french.columbia.edu/content/madeline-macleod">Madeline MacLeod</a></div>
                              </div>
                              <a class="dept" href="https://french.columbia.edu/">Columbia University French</a>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                    Literature
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/alienated" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/talk-thumbnails/adimi.jpeg" alt="adimi" title="adimi"/>
                </a>
              </div>
            </article>
          </div>
          <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Panel 4
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="2024/makeba" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Analyzing Miriam Makeba's 1950-60s Musical Performances</span>
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item"><a href="https://english.columbia.edu/content/lauren-stockmon-brown">Lauren Stockmon Brown</a></div>
                              </div>
                              <a class="dept" href="https://english.columbia.edu/">Columbia University English & Comparative Literature</a>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                    Performance Studies
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/makeba" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/talk-thumbnails/lauren_still.png" alt="lauren" title="lauren"/>
                </a>
              </div>
            </article>
          </div>
          <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Panel 4
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="2024/narrativeid" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Language & Narrative Identity</span>
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item"><a href="https://french.columbia.edu/content/sara-rani-reddy">Sara Rani Reddy</a></div>
                              </div>
                              <a class="dept" href="https://french.columbia.edu/">Columbia University French</a>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                    French
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/narrativeid" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/talk-thumbnails/IMG_6527.jpg" alt="sara" title="sara"/>
                </a>
              </div>
            </article>
          </div>
          <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Panel 4
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="2024/excitable" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">The Language of Love & Excitable Speech</span>
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">Sarah Sharp</div>
                              </div>
                              <a class="dept" href="https://www.newschool.edu/nssr/liberal-studies/">NSSR Liberal Studies</a>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                    Criticism
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/excitable" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/talk-thumbnails/excitable_speech.png" alt="butler" title="butler"/>
                </a>
              </div>
            </article>
          </div>
          <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Panel 5
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="/2024/robot" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Dialogues at the Boundary: Rearticulating Subjecthood & Language in the Realm of Sex Robots</span>
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item"><a href="https://x.com/kelseyclough">Kelsey Elizabeth Clough</a></div>
                              </div>
                              <a class="dept" href="https://anthropology.columbia.edu/">Columbia University Anthropology</a>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                    Anthropology
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="/2024/robot" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/talk-thumbnails/IMG_6531.jpg" alt="kelsey" title="kelsey"/>
                </a>
              </div>
            </article>
          </div>
          <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Panel 5
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="/2024/typewriter" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Decoding Chinese Typewriting: China's Quest for Linguistic Modernity</span>
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item"><a href="https://parsons.edu/dt-2024/2024/05/14/enter-the-bad-object/">Tianran Qian</a></div>
                              </div>
                              <a class="dept" href="https://www.newschool.edu/parsons/mfa-design-technology/">Parsons Design & Technology</a>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                    History
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/typewriter" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/talk-thumbnails/IMG_6535.jpg" alt="typewriter" title="typewriter"/>
                </a>
              </div>
            </article>
          </div>
          <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Panel 5
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="2024/animals" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Do Animals Speak Language?</span>
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">Craig Stuart Lanza</div>
                              </div>
                              <span class="dept">Stony Brook University</span>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                    Linguistics
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/animals" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/talk-thumbnails/whale_spectrogram.png" alt="whale" title="whale"/>
                </a>
              </div>
            </article>
          </div>
          <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Panel 5
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="2024/arden" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Intersecting Speculative Linguistics & Immersive Art: Communicating with Bioluminescent Lifeforms</span>
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item"><a href="https://www.nan.ooo/">Arden Schager</a></div>
                              </div>
                              <a class="dept" href="https://www.newschool.edu/parsons/mfa-design-technology/">Parsons Design & Technology</a>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                    Digital Art
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/arden" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/talk-thumbnails/abyssal_poetics.png" alt="jellyfish" title="jellyfish"/>
                </a>
              </div>
            </article>
          </div>
          <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Poster
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="2024/determiners" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">The Impact of Chunked Determiner Phrases on Verb Learning In Preschoolers</span>
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item"><a href="https://wp.nyu.edu/huanhuanshi/">Huanhuan Shi</a></div>
                              </div>
                              <a class="dept" href="https://as.nyu.edu/departments/psychology.html">NYU Psychology</a>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                    Developmental Psycholinguistics
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/determiners" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/talk-thumbnails/shi_poster.jpg" alt="poster" title="poster"/>
                </a>
              </div>
            </article>
          </div>
          <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Poster
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="2024/pronouns" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Why It Doesn’t Stop at Pronouns: Gender Binary Language Within Psychological Research</span>
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">Paige Griffith</div>
                              </div>
                              <a class="dept" href="https://www.newschool.edu/nssr/psychology/">NSSR Psychology</a>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                    Critical Psychology
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/pronouns" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/talk-thumbnails/sextechlab.png" alt="sextech" title="sextech"/>
                </a>
              </div>
            </article>
          </div>
          <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Poster
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="2024/burden" rel="bookmark">
                        Redefining Burden
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item"><a href="https://medium.com/@daqus201">Savanna Daquila</a></div>
                              </div>
                              <a class="dept" href="https://www.newschool.edu/nssr/psychology/">NSSR Psychology</a>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                    Psychology
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/burden" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/talk-thumbnails/Language_What_Is_It_Good_For_Crop2.jpeg" alt="langconf" title="langconf"/>
                </a>
              </div>
            </article>
          </div>
          <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Poster
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="2024/emlang" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">EMLang</span>
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item"><a href="https://ryurongliu.com/home">Ranger Liu Daquila<a/></div>
                              </div>
                              <a class="dept" href="https://www.newschool.edu/parsons/mfa-design-technology/">Parsons Design & Technology</a>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                    Psychology
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/burden" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/talk-thumbnails/emlang.png" alt="emlang" title="emlang"/>
                </a>
              </div>
            </article>
          </div>
          <div class="views-row" style="">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="event-text">
                  <div class="field field--name-discipline">
                    Poster
                  </div>
                  <div class="text-inner">
                      <h2 class="talk-title">
                        <a href="2024/mongolia" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Learning a Language in Mongolia, China</span>
                        </a>
                      </h2>
                              <div class="author"> 
                                  <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item"><a href="https://www.skylar-hou.com/">Skylar Hou</a></div>
                              </div>
                              <a class="dept" href="https://www.tc.columbia.edu/">Teachers College, Columbia University</a>
                  </div>
                <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item">
                    Anthropology
                </div>
              </div>
                  <div class="field field--name-field-image field--type-image field--label-hidden field__item">
                <a href="2024/mongolia" hreflang="en">
                  <img loading="lazy" src="/images/2024-conference/talk-thumbnails/rehearsal_crop.png" alt="Rehearsal, sketch by Skylar Hou" title="Rehearsal, sketch by Skylar Hou"/>
                </a>
              </div>
            </article>
          </div>
  
        </div>
      </div>
    </div>

  </div>