---
title: 2024 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">Hegel - Recognition</h2>
          </div>
          <div class="headline">
                <h2>Andrew Tessman</h2>
          </div>
          <div class="abstract">
          <p class="abstract">There is an intimate play of language in Hegel’s concept of recognition. Recognition is a concept in Hegel’s <i>Phenomenology of Spirit</i> beginning with the moment of Lordship and Bondage and  culminating in confession and its forgiveness. While Hegel’s text ends with mutual recognition  as an achievement, the validity of this crowning moment is called into question by Frantz Fanon.  While Fanon provides a valuable critique of Hegel, he might also present a limit-point to Hegel's  account due to the way otherness and racism operate across linguistic lines. In spite of Fanon’s  criticism, bringing Hegel into conversation with Post-colonial thinkers Ngugi wa Thiong’o and  Sylvia Wynter, recognition and seeing the other as a being worthy of respect is salvageable. For  Hegel, language is a form of mediation between self and other and is the true expression of  Spirit, or collective sociality. When exploring racism as a linguistic practice, something that must  be taken seriously is the approach to language’s content not just its form. As a form, language is  a universal medium with which meaning can be shared across beings. While this is the function  of language, racism manipulates this and the specific language used as a vehicle for oppression (English, French, etc.). Even though language is a tool of objectification, objectification can  quickly become oppression. In striving towards mutual recognition, must the oppressed use the  language of their oppressors? What does the language of the oppressed look like? What effects if  any does an imposed or colonial language have on narratives and literature of a culture or  people? In a global context, does speaking the imposed language allow the oppressed to reach a sympathetic audience among their oppressors? Despite complications relegating it to nigh  impossibility, mutual recognition remains something that should be strived towards.</p>

        </div>
      </div>
    </div>
