---
title: 2024 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">Alienated Language in Colonial Afterlives: Communication Gaps in Kaouther Adimi’s <i>L’envers des autres</i></h2>
          </div>
          <div class="headline">
                <h2>Madeline MacLeod</h2>
          </div>
          <div class="abstract">
          <p class="abstract">How does the long shadow of an inherited past reveal itself through language? Through a close reading of the 2011 novel <i>L’envers des autres</i> by Kaouther Adimi as well as an assessment of its publication and reception in France and Algeria, my paper assesses the politics of language and communication in the afterlives of colonial empire in the Algerian context. Language continues to be a critical site of exploration of power and identity dynamics in postcolonial studies, but previous scholarship on Adimi, an Algerian writer who has found literary success with a French audience, raising questions around modern <i>francophonie</i>, has left out her first novel as a revelatory work of language as alienation. The novel’s polyphonic structure lends to a multiplicity of perspectives as the characters grapple with underemployment, lack of opportunities and the constraints of heteronormativity in early twenty-first century Algiers. The gaps and the silences, those who speak and are not heard, and the use of the language of the colonial power by the characters are all matters of consideration within the analysis of the text. The characters speak their truth, but only to the reader, and still with degrees of obfuscation. There is no center stage for the characters on which to communicate, leaving a void of that which is unspoken that bears the painful traces of the past. Examining the text through the lens of postcolonial theory, with emphasis on frameworks on trauma and the postcolonial condition by Karima Lazali and reflections on diglossia by Abdelfattah Kilito, I find a central role played by language and communication in the suffering mental health of Algerian youth in the novel and point to an enduring alienation stemming from colonial trauma. The characters’ indirect experience of the past through its aftermath manifests in that which is said and unsaid.</p>

        </div>
      </div>
    </div>
