---
title: 2024 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">The Tower of Babel in Berlin: A migrant approach to the modern metropolis</h2>
          </div>
          <div class="headline">
                <h2>Jonathan A. Romero</h2>
          </div>
          <div class="abstract">
          <p class="abstract">This presentation will address the myth of the Tower of Babel as a theoretical image to consider the Hispanic immigrant experience of the modern metropolis during the Cold War. We consider the Tower of Babel, which in its versions also recovers the experience of confusion and misunderstanding, as a prototype of the global city. Like the palimpsest, the Tower of Babel condenses the sedimentation of work and practices required to establish the material reality of the city. The palimpsest, however, while retrieving the memories ingrained in the built environment, also reminds us of the creative destruction of modernist urbanization. The Tower of Babel's narrative nuances, on the other hand, go beyond the metaphoric potential of a medieval object, allowing one to reflect upon the act of speech and the experience of confusion in the face of the 'divine punishment' of the heterogenization of languages, that is, in the context of the modern metropolis: the linguistic barrier of the exiled and the immigrant. Moreover, the Tower of Babel is a story founded on the narration of displacement, which is fundamental to thinking about globalization in terms of the invention of the Third World in general and, particularly in our case, about the conformation of migrant communities formed in global metropolises throughout the 20th century in the face displacement triggered by the Spanish and Latin American dictatorships. Babel, moreover, refers to a utopian modernization interrupted by the fear of a hegemonic force, which in the context of the Cold War metropolis allows us to envision the dynamics of diasporic resistance inscribed in their cultural productions as opposed to state-driven forces of urban restructurings and politically motivated cultural agendas. Through the Tower of Babel, we ultimately observe restructuration, dispossession, and resistance in interaction as three key elements in the dynamics of urban modernization.</p>
        </div>
      </div>
    </div>
