---
title: 2024 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">Situation, Episode, & Event</h2>
          </div>
          <div class="headline">
                <h2>Benjamin Haile</h2>
          </div>
          <div class="abstract">
          <p class="abstract">The event is the unit by which we mark out a particular moment as meaningful, unifying and congealing it into something that can be indexed and picked out as a whole. In their work <i>Cruel Optimism</i>, Lauren Berlant attempts to complicate this notion by introducing the “situation” and the “episode” as event-like structures that, each in its own way, challenge the ubiquity of the event as marker of meaningful experience. I then interpret this move of Berlant’s through the lens of Jacques Derrida’s term “<i>Différance</i>” (Difference + Deferral), arguing that in the act of signification or in the pointing out of an episode or situation, these happenings must collapse back into being an event. Further, I argue that this is due to a tension between Derrida’s deconstructive reading, which sees experience as always already in the process of interpretation, and Berlant’s affect theoretic reading in which “the present is perceived, first, affectively: the present is what makes itself present to us before it becomes anything else.” Ultimately, I find no clean resolution between these two readings, opting instead to embrace the irresolvable. </p>

        </div>
      </div>
    </div>
