---
title: 2024 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">Decoding Chinese Typewriting: China's Quest for Linguistic Modernity</h2>
          </div>
          <div class="headline">
                <h2>Tianran Qian</h2>
          </div>
          <div class="abstract">
          <p class="abstract">This paper examines the historical challenge encountered by China in its pursuit of linguistic modernity within the landscape of information technology throughout the process of modernization. The core challenge resides in the adaptation of a character-based script to a computational syllabic infrastructure, requiring a reevaluation of Chinese civilization to navigate cultural changes necessary for global adaptation while preserving cultural integrity.</p>

          <p class="abstract">The historical analysis mainly draws from Thomas Mullaney's research on The Chinese Typewriter, spotlighting two pivotal yet unexpected innovations, input and predictive text, which are now widely adopted in the field of computerized human-machine interaction (HCI). The narrative unfolds chronologically, tracing the trajectory from the repercussions of the Second Opium War to the development  of the MingKwai Chinese typewriter. This device, distinguished by its radical-stroke retrieval mechanism in the inputting process, serves as a crucial link in understanding the evolution of Chinese typewriting.</p>

          <p class="abstract">The paper continues to examine the embodiment of political narratives within the experiences of typists during Maoist-era campaigns. Individuals like Zhang Jiying transformed their bodies and typewriter trays into embodiments of political rhetoric, fostering an intimate connection that propelled the advancement of predictive text. This evolution significantly contributed to the trajectory towards word processing and early computing. The narrative extends to contemporary digital technologies, raising pertinent concerns about the diminishing visibility of the body in the era of cloud input.</p>

          <p class="abstract">Inspired by Heidegger's critique of modern technology and Yuk Hui's concept of "consmotechnics," the essay advocates for a cosmotechnical approach to comprehend the intricate relationship between language and technology. Emphasizing the need to decolonize the Western-centric universal conception of "technology,” the study recognizes the risks of perpetual self-alienation in the digital age. The essay provides a nuanced perspective, re-identifying the human within the technological loop and offering insights into the dynamic interplay between language, body, and technological infrastructure.</p>

        </div>
      </div>
    </div>
