---
title: 2025 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">

          <div class="abstract-title">
                <h2 class="title">Healthcare Workers are Unintentional Heroes</h2>
          </div>
          <div class="headline">
                <h2> Lorraine Afflitto</h2>
          </div>
          <div class="abstract">
              <p class="abstract">Situated narratives tell a "real-time" story within the context of lived experience. They include sensations, thoughts, and emotions. Recall the COVID-19 pandemic five years ago. Imagine what it would feel like to go from being an ordinary healthcare worker to a hero overnight. Heroes selflessly serve others, accepting risk and personal costs without expecting rewards. As a nurse or doctor sworn to serve, you do your job knowing it demands courage and selflessness not usually called for. However, no one ever called you a hero. During lockdown, public praise reshaped healthcare workers into "healthcare heroes." But what if you don't want to be a hero? We focused our research on three aims and conducted a pilot study to investigate this question. We seek to understand healthcare workers' experiences and identity formation during COVID-19 while examining the risks and benefits of the hero discourse. This research uses a narrative approach to explore the dynamic between public endorsement of healthcare workers as heroes and their representation of themselves. Over the past 30 years, identity research has taken a "narrative turn." Scholars have conceived accounts of illness (Charon, 2008; Frank, 2013; Kleinman, 2020), oral histories (Columbia University Center for Oral History Research, 2020), small stories in social practices (Bamberg & Georgakopoulou, 2008), and life stories (Freeman, 2015; McAdams, 2008) as subjective, reflective representations of events and the selves who participated in them. The narratives used in our investigation are letters sent to The New York Times series "In Harm's Way" (2020). Healthcare workers worldwide responded to the question, "Why do you do what you do?" We compiled 310 letters and exploited these narratives to determine whether they portray healthcare workers as heroes. Campbell's (2008) description of a hero's journey and Frank's (2013) characterization of restitution, chaos, and quest narratives provided the basis for our analysis.</p>
          </div>

          <div class="abstract-title">
                <h2 class="title">Confusion of Tongues: Winnicott and Lacan in the Linguistic Transitional Space of Summer’s Story</h2>
          </div>
          <div class="headline">
                <h2>Hiji Nam</h2>
          </div>
          <div class="abstract">
              <p class="abstract">PThis paper integrates a Lacanian lens into my ongoing research on a “post-monolingual clinical condition” and linguistic transference. Listening specifically for how Asian American millennial subjectivity might be inflected by linguistic shifts, stutters, and gaps, my work aims to attend to those experiences and articulations of self that are lost and found in translation and “linguistic transference,” or the emotional experiences, associations, and conflicts that are remembered through different languages.  My work so far has framed linguistic transference as a kind of Winnicottian transitional space, but as we shall see, there are striking parallels and cross-pollinations between Winnicott and Lacan’s conceptions of this intermediary, imaginary zone. DWW’s original idea, lacking a deep consideration and reflection on language, offers a constructive entry point for integrating Lacan’s constellatory theory of the subject, based on linguistics and phenomenology, as opposed to Winnicott’s self-based conception. This paper will flirt with different entry-points into forging a Lacanian-Winnicottian framework for considering the transitional space between languages. Next, it will play with how such a framework might be applied to analyze a semi-structured qualitative interview conducted with Summer, a Vietnamese artist and recent Lacanian psychotherapy patient.  

              How does linguistic transference happen for Summer? What remains un-translatable, in-articulable, or otherwise unheard in between languages? Is artmaking, writing, and other creative practice an unconscious answer to the straightjacket of inherited forms of language, an attempt to “move beyond,” or does it risk remaining a repetition of sorts for Summer? Might we constructively put forth language itself as a Lacanian-Winnicottian transitional object? Further, can such a framework help us to think about the psychoanalytic and social reification of the “mother tongue” in a new light, and consider how additional languages may facilitate a productive distancing effect between a subject and their primary language?  </p>
          </div>

          <div class="abstract-title">
                <h2 class="title">Making Sense of Diagnosis in Montreal’s Transcultural Psychiatry</h2>
          </div>
          <div class="headline">
                <h2>Nathan Ferguson</h2>
          </div>
          <div class="abstract">
              <p class="abstract">My thesis research project consists of the ethnographic study of a scientific discipline known as  cultural psychiatry. This subfield departs from conventional psychiatry most notably in its  rejection of diagnostic universalism: according to cultural psychiatrists, diagnostic categories are  not only culturally-variable, but also culturally-constructed — the result of an ongoing interplay  between scientific authority, environmental conditions, and social pressures. Following the  ethnographic framework of Bruno Latour, which defines scientific activity as fundamentally  literary in nature, I treat this alternative approach to diagnosis as a new kind of naming practice  — one which disrupts the conventional scientific authority over naming and knowing the body,  by introducing a cultural and narrative dimension into its representation of medical disorders. I carried out my fieldwork across three kinds of sites in Montreal. At these spaces of medical  training, research, and practice, I followed scientists around as they attempted to construct and  produce new diagnostic categories, fit for a culturally-sensitive discipline of psychiatry. I argue that this new form of psychiatry results in names that better enable methodological  pluralism; in making this argument, I inquire into the methodological commitments that  conventionally demarcate different scientific regimes of naming. Ultimately, I demonstrate how  the new kind of diagnostic representation enabled by cultural psychiatry directly informs new  kinds of clinical intervention. I structure the presentation of my research findings in dialogue  with two figures from Plato’s Cratylus: the nomothete, who knows how to give good names; and  the dialectician who knows how to use names well. In Plato’s dramatization of his philosophy of  language, these two figures represent the ongoing effort to name the material world to an  increasing degree of correctness, while also maintaining the necessary awareness of the social  forces which structure how language works as a fundamentally shared activity.</p>
          </div>

        </div>
      </div>
    </div>
