---
title: 2024 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">Intersecting Speculative Linguistics & Immersive Art: Communicating with Bioluminescent Lifeforms</h2>
          </div>
          <div class="headline">
                <h2>Arden Schager</h2>
          </div>
          <div class="abstract">
          <p class="abstract">This project presents works at the intersection of linguistics, biology, and immersive art, exploring the boundaries of language through a speculative interaction. At the core of this exploration is a web-based simulation that features alien aquatic lifeforms akin to jellyfish which communicate using a language of bioluminescent frequencies. This immersive art piece aims to challenge and expand our understanding of communication by emulating a first contact scenario.</p> 

          <p class="abstract">Participants engage with the art piece through an immersive projection introducing them to a digital ecosystem inhabited by these jellyfish-like entities. These entities interact with each other and their environment in complex ways, including greeting, feeding, and discussing environmental conditions such as ocean temperature, with data informed by a live API feed. The simulation is accessible both as a webpage and as an immersive installation, enabling a wide range of interactions.</p>

          <p class="abstract">The interactive component of this project allows viewers to attempt communication with these lifeforms through a first-encounter style language game. Participants access a mobile phone interface via a QR code, through which they can make verbal statements. These statements are then translated into frequencies and emitted as bioluminescent signals, facilitating an attempt at interspecies communication. The alien language grows, morphs, and changes based on a neural network that receives human communication, live data, and a feedback loop with itself.</p>

          <p class="abstract">Through interactive play, the project seeks to foster a deeper appreciation for the complexities of language, both human and nonhuman.</p>

          <p class="abstract"><a href="https://sea-lion-app-e4ugc.ondigitalocean.app/">Link to the simulation.</a></p>

        </div>
      </div>
    </div>
