---
title: Opportunities | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
  <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">

          <div class="headline">
                <h2>Lab Coordinator</h2>
          </div>
          <div class="posting">
          <div style="float:left; width:15%; padding:6px">
            <img src="/images/molly-emrick/crops/svgs/f-hanging-high-airplane-rings.svg"
            alt="lab coordinator/acrobat">
          </div> 
          We're looking for a part-time lab coordinator to assist with participant recruitment (including establishing connections with local child care centers, schools, and parent networks), data collection (likely in-person and online), research team coordination (including hiring and supervising undergraduate research assistants), and the establishment of a new lab (including setting up testing rooms and workspaces and designing and documenting protocols for collecting, protecting, and analyzing data).
          </div>

          <div class="headline">
                <h2>Research Assistant</h2>
          </div>
          <div class="posting">
          <div style="float:left; width:15%; padding:6px"">
            <img src="/images/molly-emrick/crops/svgs/acroyoga-tower-cropped.svg"
            alt="research-assistant acrobats">
          </div> 
          We're also looking for undergraduate research assistants to help with a variety of research projects exploring the contexts and mechanisms of language development and everyday linguistic understanding. Research assistants typically join a single project team, with responsibilities that may include recruiting and scheduling participants, designing and constructing study stimuli, collecting experimental data with infants, children, and adults, analyzing data, annotating naturalistic videos of caregiver-child interactions, transcribing spontaneous child conversation, qualitatively categorizing verbal participant responses, and participating in academic presentations or writing.

          </div>
          <div class="posting">
          <!--A sampling of currently active projects in the lab appears below. 
          <h3 class="project"> Communicative development across modalities</h3>

          <p>We often talk about how parents shape their children's language by providing them with the words that comprise their early vocabularies, and the sentences that will shape their early grammars. Here, however, we're interested in the role parents might play in motivating children to continue developing their ability to communicate, by responding contingently to children's communicative attempts. Specifically, we explore the role that parental responsiveness might play in homesigners --- deaf children born to hearing parents. As a homesigner's parents are typically not already familiar with a signed language that their deaf child could perceive, understand, and learn, their capacity to provide the child with words or sentence structures is highly limited. However, they might nonetheless play a role in the child's development of their own linguistic/gestural systems by responding contingently to what the child produces and by trying to understand the child's meaning, even at very early stages of language development. We investigate this by manually annotating rare videos recorded longitudinally in the homes of five homesigning children, and relate parents' contingent responsiveness to children's ultimate linguistic outcomes captured in later recordings.</p>
          
          <p>Research assistants will join the "coding team," the group of students watching videos of homesigner-parent interactions, and annotating or "coding" the contingency of parents' responsiveness to their children. The coding team shares work hours, and meets regularly for a combination journal-club and mini-lab meeting, where issues with the coding system and potential questions are addressed as a group.</p>
          </div>-->

        </div>
      </div>
    </div>
  </div>
