---
title: 2024 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">Modeling longitudinal reciprocal effects of emotion regulation and vocabulary knowledge in early childhood </h2>
          </div>
          <div class="headline">
                <h2>Julia Moses</h2>
          </div>
          <div class="abstract">
          <p class="abstract">The language as context hypothesis emphasizes the role of language in constructing emotions (Feldman-Barrett, 2017). Under this view, children learn to interpret and regulate emotions through conversational interactions with caregivers and others where emotional experiences are labeled and described (Eisenberg et al., 1998). Alternatively, good emotion regulation (easy temperament) might allow children to benefit from positive social interactions with caregivers in ways that promote vocabulary development. To test these non-mutually exclusive hypotheses, we modeled longitudinal reciprocal effects between emotional regulation and vocabulary knowledge in early childhood.</p>

          <p class="abstract">The study utilized publicly available longitudinal data from the Early Head Start Research and Evaluation project (EHSRE; U.S. HHS, 2011). The analytic sample (N = 940) comprised children from low-income families who had measures of emotion regulation and vocabulary knowledge at 14m, 24m, and PreK (4y). Most had measures at 36m; missing data were imputed; see Figure 1 for measures.</p> 
 
          <p class="abstract">We used structural equation modeling to assess concurrent and longitudinal associations between emotion regulation and vocabulary knowledge; see Figure 1 for standardized coefficients and model fit indicators. Emotion regulation and vocabulary knowledge showed developmental stability (horizontal paths), and had significant concurrent associations at all ages except 14m (vertical bi-directional arrows). Emotional regulation predicted vocabulary knowledge at earlier time points, but not at pre-K (cross-lagged red arrows). Vocabulary knowledge predicted emotion regulation at all time points, with largest effects at pre-K (cross-lagged blue arrows). Findings suggest reciprocal causation, i.e., significant incremental predictive effects controlling for prior emotion regulation and vocabulary knowledge. Vocabulary knowledge may support emotion regulation as children engage with caregivers who talk about mental states, model effective coping strategies, and co-regulate their emotions (Stansbury & Zimmerman, 1999). Conversely, an infant’s negative emotionality may influence vocabulary development through its disruptive effect on caregiver-child engagement (Ober & Brooks, 2022).</p>

        </div>
      </div>
    </div>
