---
title: 2025 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">Using Drift Diffusion Modeling to Explain Differences in Processing Speed for Children with Developmental Language Disorder</h2>
          </div>
          <div class="headline">
                <h2> Peter Johnson</h2>
          </div>
          <div class="abstract">
          <p class="abstract">Children with Developmental Language Disorder (DLD) exhibit longer reaction times (RTs) than age-matched neurotypical children. Drift diffusion modeling (DDM) estimates parameters influencing RT distributions: drift rate represents rate of information accumulation, while non-decision time represents other factors contributing to longer RTs, e.g., poor attention or motor coordination. DDM also models a response bias parameter and a boundary separation parameter, which represents the speed-accuracy trade off. Using a hierarchical Bayesian framework, we estimated these four parameters, focusing mainly on estimates of drift rate and non-decision time, using RT data from a visual search and a mental rotation task completed by 3rd graders (N = 279). Three clinical groups defined by impairments in verbal and/or nonverbal abilities were compared to a neurotypical group to explore how the clinical groups, one of which was children with DLD, differ among the four estimated processing time parameters. Across the two tasks, the DLD group exhibited a lower drift rate than the neurotypical group, indicating slower information accumulation, but there was no difference in non-decision time. In contrast, children with both verbal and nonverbal impairments showed lower drift rates and higher non-decision times. These results provide support for the generalized slowing hypothesis of DLD. Clinical implications for diagnosis and treatment of DLD are discussed as a result of our findings.</p>

        </div>

        <div class="abstract-title">
                <h2 class="title">Exploring the Effects of Overlapping Word Usage at the Outset of Children’s Multi-Word Speech</h2>
          </div>
          <div class="headline">
                <h2> Elizabeth S. Che and Patricia J. Brooks</h2>
          </div>
          <div class="abstract">
          <p class="abstract">Conversations with toddlers are highly repetitive across conversational turns and serves as a critical form of feedback that affirms the child’s communicative efforts while promoting growth in utterance complexity over time (Bornstein et al., 2008). Recasts and expansions of a child’s utterance provides new syntactic information and may help children acquire complex constructions (Baker & Nelson, 1984; Nelson et al., 1973). The present study examined the differential impact of socially contingent responses at the transition from single-word to multi-word speech. Using longitudinal data from the Child Language Data Exchange System (CHILDES; MacWhinney, 2000) corpora (N = 161), we computed cross-lagged regression models to predict growth in child mean length of utterance [MLU]. We also used the CHIP to determine the extent of lexical overlap across utterances (Sokolov & MacWhinney, 1990). Maternal repetitions and expansions of child utterances at 18–20m predicted the child’s MLU (three corpora) at later ages (24–32m), after controlling for child repetitions and the MLU of child and maternal speech at time 1. In contrast, maternal repetitions and expansions at 27–48m were unrelated to the child’s MLU at later ages. These results suggest that contingent feedback building on child one-word utterances serves as an effective model of combinatorial speech, especially at younger ages. The findings replicate across disparate samples underscoring the value of CHILDES in promoting reproducibility as normative, scientific practice.
</p>

        </div>

        <div class="abstract-title">
                <h2 class="title">Does Captioning Enhance Adult Second Language Learning of Chinese Tonal Contrasts?</h2>
          </div>
          <div class="headline">
                <h2>Chen Gao C. Donnan Gravelle Shan Jiang & Patricia J. Brooks</h2>
          </div>
          <div class="abstract">
          <p class="abstract">Mandarin Chinese is a tonal language where variations in voice pitch distinguish word meanings that are otherwise phonetically identical. Acquiring tonal contrasts presents a unique and significant challenge for adult second language learners, especially those whose native languages are non-tonal (e.g., English). Given this, there is a pressing need for effective pedagogical strategies that could mitigate these learning difficulties and aid learners in navigating the complexities of Mandarin phonology.  This study aimed to explore whether on-screen captioning, especially through the use of Pinyin (Romanized text), can serve as a learning aid. Undergraduates (N = 59) completed a computer-assisted language learning (CALL) protocol, where they were randomly assigned to three captioning conditions (no caption, Pinyin caption, and character caption) and engaged in listening and repeating Chinese disyllabic nouns and matching them with corresponding pictures. Tone perception was measured using a two-option forced-choice word comprehension task. Tone production accuracy was accessed at pretest/posttest using complexity invariant distance (CID), a quantitative metric of the distance between time series (learner vs. native-speaker productions). Lower CID scores indicate greater accuracy in learners’ tone production. Although we found no evidence of improvement in vocabulary comprehension after one CALL session with varied captioning conditions, modest gains were observed in learners' ability to replicate pitch contours when asked to listen-and-repeat the Mandarin disyllabic words. Word-level analyses found lower CID scores at posttest, indicating improvements in tone production after three blocks of word-picture matching. Fine-grained syllable-level analyses showed lower CID scores for first vs. second syllables, suggesting a primacy advantage. Accuracy on the Music Ear Test predicted lower CID scores, linking musicality with aptitude in learning tonal contrasts. No effects of nonverbal intelligence or language background were found. CID offers a robust method of assessing tone production accuracy for future studies.
</p>

        </div>

        <div class="abstract-title">
                <h2 class="title">Latent Space Network Models as Inferential Space Models of Language</h2>
          </div>
          <div class="headline">
                <h2>C. Donnan Gravelle</h2>
          </div>
          <div class="abstract">
          <p class="abstract">Vector space models have gained popularity in language sciences due to their high degree of accuracy and role in artificial intelligence (Günther et al., 2019, Clark, 2015). These models embed words within a large multidimensional space, with the relatedness between words indicated by their proximity to each other. However, despite their success and popularity, there are several key features that limit their applicability in cognitive science, such as non-interpretable parameters and the need for large amounts of text data. We present the latent space network model (Hoff et al., 2004) as a method to model language. Latent space network models embed words within a multidimensional space while allowing for covariates to quantify the relative contribution of different lexical features. Models produce interpretable parameters and can be fit using smaller scale data collected from experiments. We demonstrate the application of latent space models using data derived from a repeated free association task (Elbers & van Loon-Vevoorn, 1999), where participants (N = 44) were instructed to produce a word in response to a cue word. To examine the impact of vocabulary size on latent positions, we constructed two groups (n = 22 each) based on scores on the Peabody Picture Vocabulary Test (PPVT), a standardized test of receptive vocabulary (above-average: PPVT > 100, M = 117.0, SD = 9.3; below-average: PPVT < 90, M = 81.2, SD = 6.5), and constructed lexical networks for each group separately. We found effects of distributional semantic relatedness and taxonomic relatedness in both groups and found an effect of phonological relatedness and concreteness only in the below-average group, suggesting a shifting of lexical feature importance in lexical organization and retrieval in differently sized vocabularies. Limitations and extensions of latent space network modeling are discussed.
</p>

        </div>
      </div>
    </div>
