---
title: Connect | Human Language & Development Lab
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
#block-screenslate-content.block.block-system.block-system-main-block
  .views-element-container
    #publications
      .publications
        .headline
          %h2 Contact
        %p.description We are located on the seventh floor of 80 Fifth Avenue, New York, NY 10011.
        %p.description.i.r **For questions of any kind, please reach out to langdev[at]newschool.edu.**
        %p
        .headline
          %h2 For Families:
          = link_to 'https://docs.google.com/forms/d/e/1FAIpQLSeJbus5VYyXM4j6DemIU8z9NZU5tQ2UtwFVEJPjhn9_ujpvnQ/viewform?embedded=true', class: 'link' do
            %span Click here to open form in new window.
            
        %iframe{src: 'https://docs.google.com/forms/d/e/1FAIpQLSeJbus5VYyXM4j6DemIU8z9NZU5tQ2UtwFVEJPjhn9_ujpvnQ/viewform?embedded=true',
                width: 600, height: 'auto', frameborder: 0, marginheight: 0, marginwidth: 0}
          Loading…

        .headline
          %h2 For Students and Collaborators:
          = link_to 'https://forms.gle/qYp38fFqiBKVCyRv7', class: 'link' do
            %span Click here to open form in new window.*
        %div.description
        %p <strong>*<i>Note:</i></strong> Our research centrally concerns qualitative variation in language experience, knowledge, and context &mdash; that means that <b>we are excited to work with interested scholars with all types of training, both formal and informal</b>. For example, many projects benefit from students raised in multilingual and multidialectal households, including all dialects of English, Patois, Creole, Spanish, Mandarin, Cantonese, Vietnamese, Russian, Yiddish, American Sign Language, Hindi, Gujarati, Arabic, and Lusoga. Other projects benefit from students who have previous experience with children, families, in the retail or service industries, or who grew up in one of the five boroughs of NYC. If you are curious, observant, and want to commit time to both sharing your expertise with the lab, and to learning about the research process, please get in touch! The primary reasons we have to 'turn away' students for a particular semester are a misalignment in schedules, or the lab being at capacity (not lack of qualification).
        %p
