---
title: Connect | Human Language & Development Lab
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
#block-screenslate-content.block.block-system.block-system-main-block
  .views-element-container
    #publications
      .publications
        .headline
          %h2 Contact
        %p.description We're located on the seventh floor of 80 Fifth Avenue, New York, NY 10011.
        %p.description.i.r **For questions of any kind, please reach out to langdev[at]newschool.edu.**
        %p

        .headline
          %h2 For Students and Collaborators:
          = link_to 'https://forms.gle/qYp38fFqiBKVCyRv7', class: 'link' do
            %span Click here to open form in new window.
        %p
          Our research centrally concerns qualitative variation in language experience and knowledge

        .headline
          %h2 For Families:
          = link_to 'https://docs.google.com/forms/d/e/1FAIpQLSeJbus5VYyXM4j6DemIU8z9NZU5tQ2UtwFVEJPjhn9_ujpvnQ/viewform?embedded=true', class: 'link' do
            %span Click here to open form in new window.
            
        %iframe{src: 'https://docs.google.com/forms/d/e/1FAIpQLSeJbus5VYyXM4j6DemIU8z9NZU5tQ2UtwFVEJPjhn9_ujpvnQ/viewform?embedded=true',
                width: 600, height: 'auto', frameborder: 0, marginheight: 0, marginwidth: 0}
          Loading…
        %p
