---
title: 2024 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">The Language of Love & Excitable Speech: Butler’s Response to Miller & Shulman </h2>
          </div>
          <div class="headline">
                <h2>Sarah Sharp</h2>
          </div>
          <div class="abstract">
          <p class="abstract">This talk provides a brief review of two essays published by <i>Women’s Studies Quarterly</i> on Judith Butler’s 1997 book <i>Excitable Speech</i>. The first, by J. Hillis Miller, provides a reconstruction of Butler’s analysis of hate speech, particularly the subversive possibility of its resignification, and ends with the question of whether <i>loving words</i>, ones which hold no intention to wound but are also capable of having an effect on people, should be considered alongside hate speech. The second, by George Shulman, reads <i>Excitable Speech</i> alongside Butler’s 2004 book, <i>Precarious Life</i>, to draw out Butler’s theoretical conceptions of injury and vulnerability and to investigate the political implications &mdash; and potential &mdash; of what he regards to be Butler’s largely philosophical critique. In this same issue of <i>Women’s Studies Quarterly</i>, Butler responds to both Miller and Shulman’s papers, explicitly addressing their questions concerning love and commitment, respectively. This talk reads Butler’s response as a demonstration of the importance of examining speech acts through the lens of individual rather than collective actors and how that approach, rather than moving away from politics as Shulman suggests, offers another way into it.  It also seeks to draw out, through Butler’s response, how material and embodied &mdash; as well as discursive &mdash; dynamics are at work and at stake in speech acts such as ‘I love you’.</p>

        </div>
      </div>
    </div>
