---
title: 2024 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">Plato</h2>
          </div>
          <div class="headline">
                <h2>Kansen Scharmann</h2>
          </div>
          <div class="abstract">
          <p class="abstract">The title of this conference borrows (perhaps unwittingly) from line 435d of Plato's Cratylus, where we find an exasperated Socrates asking: "What power do names have for us? What's the good of them?" These questions culminate a mounting frustration that Socrates' has begun to feel toward his own failure to satisfactorily respond to the initial question posed to him by his interlocutor, Hermogenes: what, aside from mere happenstance and convention, explains why we have the names for things that we have? Hermogenes prefigures the attitude toward language crystalized in Saussure's insistence on the arbitrariness of the signifier; and Socrates, disturbed, plunges himself into a frenzied attempt to demonstrate the contrary: that names can be well or poorly-made based on whether or not they successfully imitate that which they name. What proceeds from Socrates is a series of etymological conjectures that use for their "evidence" little else besides the resonant, acoustic similarities between words, their letters, and the properties they purportedly represent. But in his repeated failures to tell a coherent origin story about how the field of language became unified enough that one could realize in all his puns the sovereign wisdom of a primal "name-giver", Socrates urges instead that our attention turn away from names, to the unsayable Things-themselves. This paper thus returns to the Cratylus to trace how puns—by first appearing to promise a symbolic order overladen with meaning—give way to philosophy's subsequent exaltation of silence, which written language inherits in the demands placed on punctuation marks, pauses, gaps, holes in speech, to confer meaning and impose order on the unruliness of words. I demonstrate how this movement recurs in the approach to dream interpretation elaborated by Ella Freeman Sharpe and Jacques Lacan, and in the late poetry of TS Eliot.</p>

        </div>
      </div>
    </div>
