---
title: 2024 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">Do Animals Speak Language?</h2>
          </div>
          <div class="headline">
                <h2>Craig Stuart Lanza</h2>
          </div>
          <div class="abstract">
          <p class="abstract">Do animals speak language? In recent years there seems to be more support for an affirmative answer to that question. In Karen Bakker’s 2022 book, <i>The Sounds of Life</i>, whales meaningfully sing to each other across a vast ocean, elephants use specific “words” to describe humans and honeybees, bats engage in complex social behaviors via vocal learning, honeybees use dance as a means of symbolic communication, turtles signal their intentions, coral reefs emit sounds to attract fish, and plants share their feelings. While this may sound like something from a Disney movie, the late Karen Bakker would assure you that it is all real. Digital technology, amongst other things, is revealing to us the hitherto unknown world of animal communication.</p>

          <p class="abstract">My presentation discusses the many examples of complex communication amongst animals and asks if such communication can be considered language. In looking for a definition of language two thinkers will be considered: 18th Century Philosopher Gimbattista Vico and 20th Century linguist Ferdinand de Saussure.</p>

          <p class="abstract">In his book, <i>The New Science</i>, Giambattista Vico proposes that there are three stages of language: “the language of the Gods” a language of gesture and onomatopoeia, the “language of the heroes” a language of metaphor, and the “language of men” the complicated language using arbitrary signifiers which we use today. De Saussure, on the other hand, only thinks of language in the third sense and rejects the onomatopoeic and the gestural as being language.</p>

          <p class="abstract">I will consider the various ways of communication animals engage in and evaluate that communication vis-a-vis Vico’s view of language and de Saussure’s view. Does gestural communication such as pointing, which dogs understand, count as communication? Are whale sounds arbitrary, learned language? Are elephant “words” words in the sense de Saussure understood them to be? My proposed presentation will address these and similar questions.</p>

        </div>
      </div>
    </div>
