---
title: 2024 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">The Polyphonic Self</h2>
          </div>
          <div class="headline">
                <h2>Noah Kupper</h2>
          </div>
          <div class="abstract">
          <p class="abstract">In this presentation, we will explore the intersection of extreme music and language, focusing specifically on Deathcore’ ability to embody what I term "Multiplicitous Language Games." I draw on Mariana Ortega's theory of multiplicitous selves and Wittgenstein's concept of Language Games to show how Deathcore embodies complex, often paradoxical interpretations of language that reflect our contradictory and multifaceted identities.</p>

          <p class="abstract">Deathcore presents a linguistic paradigm, characterized by its obscured vocals. Instead of immediately understanding the lyrics, the audience engages with the music—either actively or passively. This engagement can happen in a live setting or with recorded music. This engagement, reflecting Wittgenstein's concept of Language Games, allows listeners to uncover layers of meaning that are often diverse and even conflicting. This discovery process encourages listeners to explore language in new and unconventional ways: where understanding is not just about the words themselves, but embedded in our ‘form of life.’</p> 
 
          <p class="abstract">Furthermore, I will explore how Deathcore connects to Ortega's notion of 'multiplicitous selves.' Her interpretation suggests our identities are filled with contradictions and movement. I encourage listeners to engage with their own sense of self through Deathcore's varied cries which be interpreted in multiplicity. Sometimes, these interpretations can happen all at once or change over time. This mirrors Ortega's conception of the selves' diverse and often contradictory nature. Through Deathcore, we can go beyond the usual ways of understanding ourselves.</p>

          <p class="abstract">By challenging standard interpretations and societal constraints on meaning, Deathcore opens a pathway for imaginative and personal explorations of communication and understanding. Through examples from lyrics, performances, and fan interactions, I will argue for the genre's significance in examining the intersections of language, music, and identity. My goal is to underscore Deathcore's role in fostering a nuanced understanding of the fluid nature of language and its ability to create multiple realities concurrently.</p>

          

        </div>
      </div>
    </div>
