
---
title: 2025 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">Marginal Discourse: Icelandic Inscription as Literary and National Study</h2>
          </div>
          <div class="headline">
                <h2>Mark Lindenburg</h2>
          </div>
          <div class="abstract">
          <p class="abstract">Concerns of language in the field of literary theory frequently focus on a text as an internal narrative. By analyzing dialogue, description, or even author biographies, language is restricted to the story, disregarding the question of how language extends beyond it. However, the medievalist interest in manuscript studies requires a larger examination into the details that move beyond character or narrative. In studying language in medieval Icelandic manuscripts, the language of the texts becomes less important than the language present in marginalia and inscriptions, in attempting to gain a fuller picture of this literary era. This paper looks at the fourteenth century manuscript Möðruvallabók (AM 132 fol.) as a rich linguistic text, whose inscriptions reveal a greater depth of provenance, personal impact, and affect. It argues that this text is an essential tool to understand how manuscripts develop their own language and dialogue, uniquely curating quiet speech-acts within the archive. By exploring the document, this paper works in an interdisciplinary mode between literary theory, manuscript analysis, and sociolinguistic studies.</p>

        </div>

        <div class="abstract-title">
                <h2 class="title">Mapping Deleuze’s Metaphysics: Corpus Analysis in the Study of Language</h2>
          </div>
          <div class="headline">
                <h2>Nicholas McIntosh </h2>
          </div>
          <div class="abstract">
          <p class="abstract">This presentation presents corpus analysis as an innovative method for studying language within philosophical texts, using Gilles Deleuze’s works as a case study. Deleuze’s rhizomatic writing style and conceptual innovations challenge conventional readings, reflecting broader questions about the relationship between language, method, and meaning. By applying digital humanities techniques such as distant reading and textual analysis, this research maps key concepts and their interrelations, revealing patterns that complement traditional close readings. The study constructs a conceptual cartography of Deleuze’s evolving vocabulary to illustrate how computational methods highlight textual patterns while preserving the multiplicity of philosophical language. This approach demonstrates that corpus analysis is not only compatible with conceptual analysis but also capable of generating new insights into the interconnectedness of philosophical concepts. In line with the conference’s focus on methodological pluralism in language studies, this project advocates for a collaborative approach that bridges digital tools and traditional hermeneutics. By extending Deleuze’s metaphors of mapping and assemblage into the digital realm, the research underscores the potential of corpus analysis to foster cross-disciplinary dialogue and expand the possibilities for interpreting language in both philosophy and beyond. </p>

        </div>

        <div class="abstract-title">
                <h2 class="title">Expression of suppression: giving freedom to talk about war-time distress</h2>
          </div>
          <div class="headline">
                <h2>Violetta Soboleva</h2>
          </div>
          <div class="abstract">
          <p class="abstract">Language is not merely a tool for communication; it is a cognitive instrument that shapes perception, thought, and action. Vygotsky’s cultural-historical theory (1978) underscores how language structures human understanding, while Bakhtin (1986) and Daiute (2014) highlight the power of narratives in navigating social and psychological turbulence. Particularly in times of war and oppression, narrating becomes a critical means of processing reality, constructing meaning, and even resisting dominant discourses when direct critique is dangerous. Drawing on examples from my research on narratives in Russia, Ukraine, and Belarus, I explore how people in these regions express or suppress their thoughts on the war in Ukraine and potential peace in the region. Through various narrative genres, individuals reveal how they grapple with loss, identity struggles, and historical tensions, as well as their visions for the region’s future. Their stories reflect the constraints of censorship, but also the ways in which narratives provide an alternative space for meaning-making, collective sense-making, and even subversive critique. I will discuss how narrative, as a framework, differs from other methodological approaches such as interviews by offering distressed individuals a way to articulate emotions and perspectives that might otherwise remain unspoken. What do these narratives reveal about the possibility of reconciliation among historically divided nations? How does suppression shape the way individuals frame their experiences, and to what extent can storytelling foster resilience and transformation in times of war? By examining narratives as both psychological and sociopolitical tools, this work demonstrates how storytelling enables individuals to navigate conflict, reimagine possibilities, and reclaim linguistic agency in an environment where speech may be constrained.</p>

        </div>

        <div class="abstract-title">
                <h2 class="title">Must Mathematics Objectify?</h2>
          </div>
          <div class="headline">
                <h2>Benjamin Haile</h2>
          </div>
          <div class="abstract">
          <p class="abstract">This paper engages in a close reading—what I termed an “epistolary interception”—of two letters written by influential German thinkers, Martin Heidegger and Gottlob Frege on the question of the relationship between a science [Wissenschaft], and the formal or objectifying  character of its language. Both letters make a case for the importance of a non-objectifying or deformalized component in the languages of Theology and Mathematics, respectively. Heidegger defines the scientific element of a language as exactly its objectifying character, which is, as he puts it, “to make an object of something, to posit it as object and represent it only as such.”  Under this framework, both Theology and Mathematics seem to be outlier disciplines [Wissenschaft] as it is unclear in either case that “the objectification of whatever it is that [the  science] thematize[s] is oriented directly toward beings, as a continuation of an already existing  prescientific attitude toward such beings.” While both thinkers challenge the unilateral value of science as mere objectification,  Frege puts it nicely writing, “Where a tree lives and grows it must be soft and succulent. But if  what was succulent did not in time turn into wood, the tree could not reach a significant height.  On the other hand, when all that was green has turned into wood, the tree ceases to grow.” In  considering what a non-objectifying relationship with the language of a science might look like, I  employ Derrida’s question of hospitality, “Does hospitality begin with the unquestioning  welcome, in a double effacement, the effacement of the question and the name? Is it more just  and more loving to question or not to question? to call by the name or without the name?” and  then finally with his Postal Principle, the principle of interception, that “a letter may never reach  its destination.</p>

        </div>
      </div>
    </div>
