---
title: Publications | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
  <div class="views-element-container">
      <div id="publications">
        <div class="publications">

          <div class="headline">
                <h2>Selected Preprints</h2>
          </div>

          <p class="pub">
                <span class="paper-title"> Sociolinguistic development in a diverse, multilinguistic environment: Evidence from multilingual children in Gujarat, India.</span>
                <!--<span class="oh"></span> <span class="cc"></span> <span class="exp"></span> <span class="eye"></span>-->
                <a href="https://ruthefoushee.com">Foushee, R.</a>, Regan, S., Baharloo, R., &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a>
                (<a href="https://osf.io/preprints/psyarxiv/m86ds">preprint</a>)
                (<a href="https://osf.io/xa6h3/">repo</a>)
                <!---->
          </p>

          <p class="pub">
                <span class="paper-title"> Qualitative variability in early overhearing experience.</span>
                <!--<span class="oh"></span> <span class="cds"></span> <span class="cor"></span> <span class="cc"></span> <span class="beh"></span>-->
                <a href="https://ruthefoushee.com">Foushee, R.</a> &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a>
                (<a href="https://psyarxiv.com/qu3ay/download?format=pdf">preprint</a>)
          </p>

          <p class="pub">
                <span class="paper-title"> Selective attention based on speech complexity and learning rate.</span>
                <!--<span class="al"></span> <span class="cds"></span> <span class="exp"></span> <span class="eye"></span>-->
                <a href="https://ruthefoushee.com">Foushee, R.</a>, <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a>, &amp; Xu, F.
                <span class="paper-links">
                  (<a href="publications/bibtex/foushee2021selective.bib">BibTeX</a>)
                  (<a href="https://psyarxiv.com/zj4vt/">preprint</a>)
                  (<a href="https://osf.io/zsjfb/?view_only=84d990978326408090bd7bf2edaac43e">repo</a>)
                </span>
          </p>

          <!--<div class="headline">-->
                <!--<h2>Under Review or Revision</h2>-->
          <!--</div>-->

          <!--<p class="pub">-->
                <!--<span class="paper-title"> Tracking the onset of productive determiner+noun combinations in English-learners.</span>-->
                <!--<span class="cor"></span>-->
                <!--<a href="https://ruthefoushee.com">Foushee, R.</a>, Byrne, D., <a href="https://rgalhama.github.io/">Alhama, R.</a>, <a href="https://aetting.github.io/">Ettinger, A.</a>, <a href="http://afra.alishahi.name/">Alishahi, A.</a>, &amp; Goldin-Meadow, S.
          </p>-->
          <div class="headline">
                <h2>2024</h2>
          </div>
          <p class="pub">
                <span class="paper-title"> Infants who are rarely spoken to nevertheless understand many words.</span>
                <a href="https://ruthefoushee.com">Foushee, R.</a> &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a>
                (2024). <i>PNAS.</i>
                (<a href="publications/bibtex/foushee2024infants.bib">BibTeX</a>)
                (<a href="https://www.pnas.org/doi/abs/10.1073/pnas.2311425121?af=R">publisher</a>)
                (<a href="https://psyarxiv.com/g84pw">preprint</a>)
                (<a href="https://osf.io/kcza9/?view_only=4e6d731628b74aebb5c0a4cfbda3000a">repo</a>)
                <!---->
          </p>
          <div class="headline">
                <h2>2023</h2>
          </div>
          <p class="pub">
                <span class="paper-title"> Conceptual accessibility biases in Tseltal vocabulary development.</span>
                <a href="https://chatterlab.uchicago.edu/bios/marisa-aboutme/">Casillas, M.</a>, <a href="https://ruthefoushee.com"><a href="https://ruthefoushee.com">Foushee, R.</a></a>, Mendez Gir&#243;n, J., Polian, G., &amp; Brown, P. (2023). <i>First Language.</i>
                <span class="paper-links">
                  <!--(<a href="publications/bibtex/cristia2022combining.bib">BibTeX</a>)-->
                  <!--(<a href="https://pubmed.ncbi.nlm.nih.gov/36912336/">publisher</a>)-->
                  (<a href="https://osf.io/preprints/psyarxiv/pzx9u/">preprint</a>)
                </span>
          </p>

          <p class="pub">
                <span class="paper-title"> How adults understand what young children say.</span>
                <!--<span class="cds"></span> <span class="cor"></span>-->
                <a href="https://stephanmeylan.com/">Meylan, S. C.</a>, <a href="https://ruthefoushee.com">Foushee, R.</a>, <a href="https://bergelsonlab.com/bergelson-personal-page.html">Bergelson, E.</a>, &amp; <a href="https://www.mit.edu/~rplevy/">Levy, R.</a> (2023). <i>Nature Human Behavior.</i>
                <span class="paper-links">
                  (<a href="https://www.nature.com/articles/s41562-023-01698-3">publisher</a>)
                  (<a href="https://arxiv.org/abs/2102.03462">preprint</a>)
                </span>
          </p>

          <p class="pub">
                <span class="paper-title"> Active learning in language development.</span>
                <!--<span class="al"></span> <span class="cds"></span> <span class="oh"></span> <span class="exp"></span> <span class="eye"></span> <span class="beh"></span> <span class="trans"></span>-->
                <a href="https://ruthefoushee.com">Foushee, R.</a>, <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a>, &amp; Xu, F. (2023). <i>Current Directions in Psychology</i>.
                <span class="paper-links">
                  (<a href="publications/bibtex/foushee2023active.bib">BibTeX</a>)
                  (<a href="https://doi.org/10.1177/09637214221123920">publisher</a>)
                  (<a href="https://psyarxiv.com/26aer">preprint</a>)
                </span>
          </p>

          <p class="pub">
                <span class="paper-title"> Combining observational and experimental approaches to the development of language and communication in rural samples: Opportunities and challenges.</span>
                <!--<span class="cc"></span> <span class="exp"></span> <span class="cor"></span> <span class="beh"></span>-->
                <a href="https://sites.google.com/site/acrsta/">Cristia, A.</a>, <a href="https://ruthefoushee.com">Foushee, R.</a>, <a href="https://www.uchile.cl/portafolio-academico/impresion.jsf?username=paulina.aravena">Aravena-Bravo, P.</a>, <a href="https://megseekosh.github.io/">Cychosz, M.</a>, Scaff, C., &amp; <a href="https://chatterlab.uchicago.edu/bios/marisa-aboutme/">Casillas, M.</a> (2023). <i>Journal of Child Language.</i>
                <span class="paper-links">
                  (<a href="publications/bibtex/cristia2022combining.bib">BibTeX</a>)
                  (<a href="https://pubmed.ncbi.nlm.nih.gov/36912336/">publisher</a>)
                  (<a href="https://psyarxiv.com/u59xb/">preprint</a>)
                  (<a href="https://osf.io/9uv7s/?view_only=ee64d12fb4514c9a9ecf5abb4ee50540">repo</a>)
                </span>
          </p>

          <div class="headline">
                <h2>2022</h2>
          </div>

          <p class="pub">
                <span class="paper-title"> What 'diversity' means depends on your perspective: A commentary on Kidd &amp; Garcia (2022). </span>
                <!--<span class="cc"></span> <span class="rev"></span>-->
                <a href="https://ruthefoushee.com">Foushee, R.</a> &amp; <a href="https://chatterlab.uchicago.edu/bios/marisa-aboutme/">Casillas, M.</a> (2022). <i>First Language</i>.
                <span class="paper-links">
                  (<a href="publications/bibtex/foushee2022what.bib">BibTeX</a>)
                  (<a href="https://doi.org/10.1177/01427237221107423">publisher</a>)
                  (<a href="https://doi.org/10.31234/osf.io/bt3u7">preprint</a>)
                </span>
          </p>

          <p class="pub">
                <span class="paper-title"> Getting to the root of linguistic alignment: Testing the predictions of Interactive Alignment across developmental and biological variation in language skill.</span>
                <!--<span class="cds"></span> <span class="int"></span> <span class="cor"></span>-->
                <a href="https://ruthefoushee.com">Foushee, R.</a>, Byrne, D., <a href="https://chatterlab.uchicago.edu/bios/marisa-aboutme/">Casillas, M.</a> &amp; Goldin-Meadow, S. (2022) In <i>Proceedings of the 44th Annual Meeting of the Cognitive Science Society.</i>
                <span class="paper-links">
                  (<a href="foushee2022getting.bib">BibTeX</a>)
                  (<a href="https://escholarship.org/uc/item/5mw1379q#main">pdf</a>)
                </span>
          </p>

          <div class="headline">
                <h2>2021</h2>
          </div>

          <p class="pub">
                <span class="paper-title">What causes the word gap? Financial concerns may systematically suppress child-directed speech.</span>
                <!--<span class="cds"> </span> <span class="ses"></span> <span class="exp"></span> <span class="cor"></span>-->
                Ellwood-Lowe, M., <a href="https://ruthefoushee.com">Foushee, R.</a>, &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> (2021). <i>Developmental Science</i>.
                <span class="paper-links">
                  (<a href="publications/bibtex/ellwood-lowe2021financial.bib">BibTeX</a>)
                  (<a href="http://doi.org/10.1111/desc.13151">publisher</a>)
                  (<a href="https://psyarxiv.com/byp4k">preprint</a>)
                  (<a href="https://osf.io/xfreu/">repo</a>)
                </span>
          </p> 

          <p class="pub">
                <span class="paper-title"> Self-directed learning by preschoolers in a naturalistic overhearing context.</span>
                <!--<span class="cds"></span> <span class="oh"></span> <span class="al"></span> <span class="exp"></span>-->
                <a href="https://ruthefoushee.com">Foushee, R.</a>, <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a>, &amp; Xu, F. (2021). <i>Cognition, 206,</i> 104415.
                <span class="paper-links">
                  (<a href="publications/bibtex/foushee2021self.bib">BibTeX</a>)
                  (<a href="https://doi.org/10.1016/j.cognition.2020.104415">publisher</a>)
                  (<a href="https://psyarxiv.com/vr82f">preprint</a>)
                  (<a href="https://osf.io/avyg5/">repo</a>)
                </span>
          </p>    

          <p class="pub">
                <span class="paper-title"> Empirical audit and review and an assessment of evidentiary value in research on the psychological consequences of scarcity. </span>
                <!--<span class="ses"></span> <span class="rev"></span>-->
                O'Donnell, M., Dev, Amelia S., Antonoplis, S., Baum, S., Benedetti, A., Brown, D., Carrillo, B., Choi, A., Connor, P. R., Donnelly, K., Ellwood-Lowe, M. E., <a href="https://ruthefoushee.com">Foushee, R.</a>, Jansen, R., Jarvis, S. N., Lundell-Creagh, R., Ocampo, J. M., Okafor, G. N., Azad, Z. R., Rosenblum, M., Schatz, D., Stein, D. H., Wang, Y., Moore, D. A., &amp; Nelson, L. D. (2021). <i>PNAS, 118 (44)</i>.
                <span class="paper-links">
                  (<a href="publications/bibtex/odonnell2021empirical.bib">BibTeX</a>)
                  (<a href="https://doi.org/10.1073/pnas.2103313118">publisher</a>)
                  (<a href="https://osf.io/a2e96/">repo</a>)
                </span>
          </p>

          <p class="pub">
                <span class="paper-title"> Child-directed listening: How caregiver inference enables children's early verbal communication.</span>
                <!--<span class="cds"></span> <span class="int"></span> <span class="cor"></span>-->
                Meylan, S. C., <a href="https://ruthefoushee.com">Foushee, R.</a>, <a href="https://bergelsonlab.com/bergelson-personal-page.html">Bergelson, E.</a>, &amp; <a href="https://www.mit.edu/~rplevy/">Levy, R.</a> (2021) In <i>Proceedings of the 43rd Annual Meeting of the Cognitive Science Society.</i>
                <span class="paper-links">
                  (<a href="publications/bibtex/meylan2021cdl.bib">BibTeX</a>)
                  (<a href="https://escholarship.org/uc/item/85f9c72k">pdf</a>)
                </span>
          </p> 

          <div class="headline">
                <h2>2019</h2>
          </div>

          <p class="pub">
                <span class="paper-title"> Linguistic conventionality and the role of epistemic reasoning in mutual exclusivity inference. </span>
                <!--<span class="sem"></span> <span class="epist"></span> <span class="exp"></span>-->
                <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a>, <a href="https://ruthefoushee.com">Foushee, R.</a>, Bartnof, A. &amp; Barner, D. (2019). <i>Cognition, 189,</i> 193–208.
                <span class="paper-links">
                  (<a href="publications/bibtex/srinivasan2019linguistic.bib">BibTeX</a>)
                  (<a href="https://doi.org/10.1016/j.cognition.2019.04.001">publisher</a>)
                  (<a href="https://psyarxiv.com/j9duw/">preprint</a>)
                  (<a href="https://osf.io/chmjt">repo</a>)
                </span>
          </p>

          <p class="pub">
                <span class="paper-title"> When Allah meets Ganesha: Developing supernatural concepts in a religiously diverse society. </span>
                <!--<span class="conc"></span> <span class="cc"></span> <span class="exp"></span>-->
                Shtulman, A., <a href="https://ruthefoushee.com">Foushee, R.</a>, Barner, D., Dunham, Y., &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> (2019). <i>Cognitive Development, 52.</i> 
                <span class="paper-links">
                  (<a href="publications/bibtex/shtulman2019allah.bib">BibTeX</a>)
                  (<a href="https://doi.org/10.1016/j.cogdev.2019.100806">publisher</a>)
                  (<a href="https://psyarxiv.com/8kvsg">preprint</a>)
                </span>
          </p>

          <div class="headline">
                <h2>2017</h2>
          </div>

          <p class="pub">
                <span class="paper-title"> Learning language from within: Children use semantic generalizations to infer new word meanings.</span>
                <!--<span class="sem"></span> <span class="epist"></span> <span class="exp"></span> -->
                <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a>, Al-Mughairy, S., <a href="https://ruthefoushee.com">Foushee, R.</a>, &amp; Barner, D. (2017). <i>Cognition, 159,</i> 193–208.
                <span class="paper-links">
                  (<a href="publications/bibtex/srinivasan2017learning.bib">BibTeX</a>)
                  (<a href="https://doi.org/10.1016/j.cognition.2016.10.019">publisher</a>)
                  (<a href="https://psyarxiv.com/h7cbm/">preprint</a>)
                  (<a href="https://osf.io/ms5vf/">repo</a>)
                </span>
          </p>

          <p class="pub">
                <span class="paper-title"> What counts as math? Relating conceptions of math with anxiety about math.</span>
                <!--<span class="conc"></span> <span class="sem"></span> <span class="cc"></span> <span class="exp"></span> -->
                <a href="https://ruthefoushee.com">Foushee, R.</a>, Jansen, R., &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> (2017). In <i>Proceedings of the 39th Annual Meeting of the Cognitive Science Society.</i>
                <span class="paper-links">
                  (<a href="publications/bibtex/foushee2017counts.bib">BibTeX</a>)
                  (<a href="https://osf.io/preprints/psyarxiv/cmdvp">preprint</a>)
                </span>
          </p>

          <p class="pub">
                <span class="paper-title">Curious minds: What research tells us about building STEM connections in early childhood.</span>
                <span class="trans"></span> <span class="rev"></span>
                Hadani, H., Kennedy, K., <a href="https://ruthefoushee.com">Foushee, R.</a>, &amp; Jaeger, G. (2017).
                <span class="paper-links">
                  (<a href="publications/bibtex/hadani2017curious.bib">BibTeX</a>)
                  (<a href="https://centerforchildhoodcreativity.org/wp-content/uploads/sites/2/2018/02/CCC_The_Roots_of_STEM_Early_Learning.pdf">pdf</a>)
                </span>
          </p>

          <div class="headline">
                <h2>2016</h2>
          </div>

          <p class="pub">
                <span class="paper-title"> ‘Two-pound cookies’ or ‘two pounds of cookies’: Children’s appreciation of quantity expressions.</span>
                <span class="sem"></span> <span class="exp"></span>
                <a href="https://ruthefoushee.com">Foushee, R.</a>, Falkou, N., &amp;  <a href="https://peggylee.sites.fas.harvard.edu/">Li, P.</a> (2016). <i>Language Acquisition, 24(4),</i> 400–416. 
                <span class="paper-links">
                  (<a href="publications/bibtex/foushee2017two.bib">BibTeX</a>)
                  (<a href="https://doi.org/10.1080/10489223.2016.1225744">publisher</a>)
                  (<a href="https://berkeley.box.com/v/foushee2016-pseudopartitives">preprint</a>)
                </span>
          </p>

          <!--<h2 id="under-review"><a href="#" class="active" title="E-mail to receive submitted maunscript drafts.">Under Review or Revision</a></h2>-->

          <!--<p class="pub">
                <span class="paper-title"> Variations in syntax or lexical semantics on object and substance kind construal: A Mayan case study.</span>
                <span class="lingrel"></span> <span class="cc"></span> <span class="exp"></span>
                <a href="https://peggylee.sites.fas.harvard.edu/">Li, P.</a>, Chen, F., <a href="https://ruthefoushee.com">Foushee, R.</a>, Barner, D., &amp; Carey, S.
          </p>

          <p class="pub">
                <span class="paper-title"> Bringing a better Earth closer by sending students into Space: A flexible thought experiment for use in developmental science courses.</span>
                <span class="trans"></span>
                <a href="https://ruthefoushee.com">Foushee, R.</a>
          </p>-->

          <!--<h2 id="under-review"><a href="#" class="active" title="E-mail to receive drafts of manuscripts in progress.">In Preparation</a></h2>

          <p class="pub">
                <span class="paper-title"> Evidence of early lexical knowledge in infants primarily exposed to overheard speech.</span>
                <span class="cc"></span> <span class="exp"></span> <span class="eye"></span>
                <a href="https://ruthefoushee.com">Foushee, R.</a> &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a>
          </p>

          <p class="pub">
                <span class="paper-title"> Qualitative variability in early overhearing experience.</span>
                <span class="oh"></span> <span class="cds"></span> <span class="cor"></span> <span class="cc"></span> <span class="beh"></span>
                <a href="https://ruthefoushee.com">Foushee, R.</a> &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a>
                (<a href="https://psyarxiv.com/qu3ay/download?format=pdf">preprint</a>)
          </p>

          <p class="pub">
                <span class="paper-title"> Sociolinguistic development in a diverse multilinguistic environment. </span>
                <span class="cc"></span> <span class="ses"></span> <span class="exp"></span>
                <a href="https://ruthefoushee.com">Foushee, R.</a>, Baharloo, R., &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a>
          </p>

          <p class="pub">
                <span class="paper-title"> Could both be right? Children's and adults' sensitivity to subjectivity in language. </span>
                <span class="sem"></span> <span class="epist"></span> <span class="exp"></span>
                <a href="https://ruthefoushee.com">Foushee, R.</a> &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a>
          </p> -->

          <p class="pub">
                <span class="paper-title"> Could both be right? Children’s and adults’ sensitivity to subjectivity in language.</span>
                <span class="sem"></span> <span class="epist"></span> <span class="exp"></span> 
                <a href="https://ruthefoushee.com">Foushee, R.</a> &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> (2017). In <i>Proceedings of the 39th Annual Meeting of the Cognitive Science Society.</i> 
                <span class="paper-links">
                  (<a href="publications/bibtex/foushee2017could.bib">BibTeX</a>)
                  (<a href="https://pdfs.semanticscholar.org/3566/fa92a3a57ca4592e4f86e6537be5faae39c0.pdf">pdf</a>)
                </span>
          </p>

          <p class="pub">
                <span class="paper-title"> Active overhearing: Development in preschoolers’ skill at ‘listening in’ to naturalistic overheard speech.</span>
                <span class="cds"></span> <span class="oh"></span> <span class="al"></span> <span class="exp"></span>
                <a href="https://ruthefoushee.com">Foushee, R.</a> &amp; Xu, F. (2016). In <i>Proceedings of the 38th Annual Meeting of the Cognitive Science Society.</i>
                <span class="paper-links">
                  (<a href="publications/bibtex/foushee2016active.bib">BibTeX</a>)
                  (<a href="https://www.semanticscholar.org/paper/Active-Overhearing%3A-Development-in-Preschoolers'-at-Foushee-Xu/2e5c6eb38df6d3d1bb090602cb486750aaabf68b">pdf</a>)
                </span>
          </p>

          <p class="pub">
                <span class="paper-title"> Lexical complexity of child-directed and overheard speech: Implications for learning.</span>
                <span class="cds"></span> <span class="oh"></span> <span class="al"></span> <span class="int"></span> <span class="cor"></span>
                <a href="https://ruthefoushee.com">Foushee, R.</a>, Griffiths, T., &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> (2016).  In <i>Proceedings of the 38th Annual Meeting of the Cognitive Science Society.</i>
                <span class="paper-links">
                  (<a href="publications/bibtex/foushee2016lexical.bib">BibTeX</a>)
                  (<a href="https://cocosci.princeton.edu/papers/lexcomplex.pdf">pdf</a>)
                </span>
          </p>

          <p class="pub">
                <span class="paper-title">Reimagining school readiness: A literature review.</span>
                <span class="trans"></span> <span class="rev"></span>
                Hadani, H. &amp; <a href="https://ruthefoushee.com">Foushee, R.</a> (2016).  
                <span class="paper-links">
                  (<a href="publications/bibtex/hadani2016reimagining.bib">BibTeX</a>)
                  (<a href="https://bayareadiscoverymuseum.org/resources/educator-resources/library-toolkit">site</a>)
                  (<a href="prints/SchoolReadinessLitReview.pdf">pdf</a>)
                </span>
          </p>

          <div class="headline">
                <h2>2015</h2>
          </div>

          <p class="pub">
                <span class="paper-title">Daxing with a dax: Evidence of productive lexical structures in children.</span>
                <span class="sem"></span> <span class="exp"></span>
                Al-Mughairy, S., <a href="https://ruthefoushee.com">Foushee, R.</a>, <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a>, &amp; Barner, D. (2015).  In <i>Proceedings of the 37th Annual Meeting of the Cognitive Science Society.</i> 
                <span class="paper-links">
                  (<a href="publications/bibtex/almughairy2015daxing.bib">BibTeX</a>)
                  (<a href="https://pdfs.semanticscholar.org/50e9/3990c65baf3b2c78a12a18d156f2af4ab0a7.pdf">pdf</a>)
                </span>
          </p>

          <p></p>

          <div class="headline">
                <h2>Posters</h2>
          </div>
          <p class="pub">
          <span class="poster-title">Unique sources of variability in individual caregivers' day-to-day affect during the COVID-19 pandemic.</span> 
                  Ellwood-Lowe, M., <a href="https://ruthefoushee.com">Foushee, R.</a>, Wehry, J., Horton, G., &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> (2023). 
                  Poster presented at the Biennial Meeting of the Society for Research in Child Development <span class="sc">(srcd23)</span>, Salt Lake City, UT.
                  <span class="paper-links">
                  (<a href="poster_files/EllwoodLowe_2023-SRCD_pandemicpanas.pdf">poster</a>)
                </span>
          </p>
          <p class="pub">
                <span class="poster-title">Mapping language to real-world event probabilities across middle childhood.</span> <span class="sem"> </span>
                  <a href="https://ruthefoushee.com">Foushee, R.</a>, Starr, A., Wehry, J., Anderson, J., Horton, G., O'Grady, S., &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> (2023). at the Biennial Meeting of the Society for Research in Child Development <span class="sc">(srcd23)</span>, Salt Lake City, UT.
                  <span class="paper-links">
                  (<a href="poster_files/Foushee_et_al_2023-SRCD_probabilities.pdf">poster</a>)
                </span>
          </p>
          <p class="pub">
                <span class="poster-title">Characterizing the complete language environment: What could children learn by 'listening in'?</span>
                  Horton, G., <a href="https://ruthefoushee.com">Foushee, R.</a> &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> (2022). Poster presented at the 12th Biennial Meeting of the Cognitive Development Society <span class="sc">(cds)</span>.
                  <span class="paper-links">
                  (<a href="poster_files/Horton_Foushee_Srinivasan_2022-CDS_characterizing.pdf">poster</a>)
                </span>
          </p>

          <p class="pub">
                <span class="poster-title">Do speakers consult an internal jury of their peers in judging linguistic 'fault' and subjectivity?</span>
                  <a href="https://ruthefoushee.com">Foushee, R.</a> &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> (2021). Poster presented at the Meeting of the Society for Philosophy and Psychology <span class="sc">(spp)</span>.
                  <span class="paper-links">
                  (<a href="poster_files/Foushee_Srinivasan_2021-SPP_internaljury.pdf">poster</a>)
                </span>
          </p>

          <p class="pub">
                <span class="poster-title">The impact of speech complexity on preschooler attention and learning.</span>
                  <a href="https://ruthefoushee.com">Foushee, R.</a>, <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a>, &amp; Xu, F. (2020). Poster presented at the 45th Boston University Conference on Language Development <span class="sc">(bucld45)</span>, Boston, MA.
                  <span class="paper-links">
                  (<a href="poster_files/Foushee_Srinivasan_Xu_2020-BUCLD_speechcomplexity.pdf">poster</a>)
                </span>
          </p>
                

           <p class="pub">
                <span class="poster-title">Transmission of religious and scientific explanations within chains of Hindu and Muslim children.</span>
                  <a href="https://ruthefoushee.com">Foushee, R.</a>, Jansen, R., &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> (2020). Poster presented at the 42nd Annual Meeting of the Cognitive Science Society, Toronto, Canada.
          </p>
                
          <p class="pub">
                <span class="poster-title">Similarity judgments determine consistency of implicit number conceptions across ages.</span> 
                  Jansen, R. &amp; <a href="https://ruthefoushee.com">Foushee, R.</a>. (2020). Poster presented at the 42nd Annual Meeting of the Cognitive Science Society, Toronto, Canada.
          </p>
                
          <p class="pub">
                <span class="poster-title">How do we talk to children? Leveraging speech corpora to quantify how we simplify speech to child</span>
                  <a href="https://ruthefoushee.com">Foushee, R.</a>, Xu, Y., &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> (2019). Poster presented at the 44th Boston University Conference on Language Development <span class="sc">(bucld44)</span>, Boston, MA.
                  <span class="paper-links">
                  (<a href="poster_files/Foushee_Yang_Srinivasan_2019-BUCLD_cdscomplexity.pdf">poster</a>)
                </span>
          </p>
                
           <p class="pub">
                <span class="poster-title">Tuned in: Children learn from overheard speech while engaged in a cognitively demanding task.</span> 
                  Berger, E., Ellwood-Lowe, M., Jauregui, M., <a href="https://ruthefoushee.com">Foushee, R.</a>, Bunge, S., &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> (2019). Poster presented at the 11th Biennial Meeting of the Cognitive Development Society <span class="sc">(cds)</span>, Louisville, KY.
                  <span class="paper-links">
                  (<a href="poster_files/Berger_2019-CDS_overhearing.pdf">poster</a>)
                </span>
          </p>
                
           <p class="pub">
                <span class="poster-title">Skeptical 4-year-olds engage in social referencing with adults to interpret socially incongruent situations.</span>
                  Williams, D. J., <a href="https://ruthefoushee.com">Foushee, R.</a>, Morgan, J. &amp; Luchkina, E. (2019). Poster presented at the UCSC-UCB-Stanford Developmental Talks, Berkeley, CA.
          </p>

           <p class="pub">
                <span class="poster-title">Faultless disagreement judgments track adults’ estimates of population-level consensus over adjective-referent pairs.</span>
                  <a href="https://ruthefoushee.com">Foushee, R.</a> &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> (2018). Poster presented at the 40th Annual Meeting of the Cognitive Science Society, Madison, WI.
                  <span class="paper-links">
                  (<a href="poster_files/Foushee_Srinivasan_2018-CogSci_fdconsensus.pdf">poster</a>)
                </span>
          </p>
                
           <p class="pub">
                <span class="poster-title">The ‘Goldilocks Effect’ in preschoolers’ attention to spoken language.</span>
                  <a href="https://ruthefoushee.com">Foushee, R.</a>, <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a>, &amp; Xu, F. (2018). Poster presented at the 40th Annual Meeting of the Cognitive Science Society, Madison, WI.
                  <span class="paper-links">
                  (<a href="poster_files/Foushee_Srinivasan_Xu_2018-CogSci_goldilocks.pdf">poster</a>)
                </span>
          </p>
                

           <p class="pub">
                <span class="poster-title">A new similarity measure to reveal individual differences and growth in implicit number conceptions.</span>
                  Jansen, R., <a href="https://ruthefoushee.com">Foushee, R.</a>, &amp; Griffths, T. (2018). Poster presented at the 40th Annual Meeting of the Cognitive Science Society, Madison, WI.
                  <span class="paper-links">
                  (<a href="poster_files/Jansen_Foushee_Griffiths_2018-CogSci_numbersim.pdf">poster</a>)
                </span>
          </p>
                
           <p class="pub">
                <span class="poster-title">When 7 is closer to 9 than to 8: An expanded measure of implicit number conception.</span>
                  Jansen, R., <a href="https://ruthefoushee.com">Foushee, R.</a>, &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> (2018). Poster presented at the 2nd Mathematical Cognition and Learning Society Conference <span class="sc">(mcls)</span>, Oxford, UK.
                  <span class="paper-links">
                  (<a href="http://lcdlab.berkeley.edu/wp-content/uploads/2019/04/MCLSposter_JansenFoushee.jpg">poster</a>)
                </span>
          </p>

           <p class="pub">
                <span class="poster-title">Relating conceptions of math with anxiety about math.</span>
                  <a href="https://ruthefoushee.com">Foushee, R.</a>, Jansen, R., &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> (2017). Poster presented at the 39th Annual Meeting of the Cognitive Science Society, London, UK.
                  <span class="paper-links">
                  (<a href="http://lcdlab.berkeley.edu/wp-content/uploads/2015/10/Foushee-Jansen-Srinivasan2017.jpg">poster</a>)
                </span>
          </p>
                
           <p class="pub">
                <span class="poster-title">Low- and high- math anxiety individuals’ representations of math: A multidimensional scaling analysis.</span>
                  <a href="https://ruthefoushee.com">Foushee, R.</a>, Jansen, R., &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> (2017). Poster presented at the 1st Mathematical Cognition and Learning Society Conference <span class="sc">(mcls)</span>, Nashville, TN.
                  <span class="paper-links">
                  (<a href="poster_files/Foushee-R.-Jansen-R.-Srinivasan-M.-2017.pdf">poster</a>)
                </span>
          </p>
                
           <p class="pub">
                <span class="poster-title">The impact of social structure and culture on mindset and math anxiety: Evidence from an Indian middle school.</span> 
                  <a href="https://ruthefoushee.com">Foushee, R.</a>, Dubey, R., &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> (2017). Poster presented at the Biennial Meeting of the Society for Research in Child Development <span class="sc">(srcd)</span>, Austin, TX.
                  <span class="paper-links">
                  (<a href="http://lcdlab.berkeley.edu/wp-content/uploads/2019/04/Foushee-R.-Dubey-R.-Srinivasan-M.-2016.pdf">poster</a>)
                </span>
          </p>
                
           <p class="pub">
                <span class="poster-title">Developing sensitivity to subjectivity in language.</span>
                  <a href="https://ruthefoushee.com">Foushee, R.</a> &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> (2017). Poster presented at the Biennial Meeting of the Society for Research in Child Development <span class="sc">(srcd)</span>, Austin, TX.
                  <span class="paper-links">
                  (<a href="poster_files/Foushee_Srinivasan_2017-SRCD_subjectivity.pdf">poster</a>)
                </span>
          </p>
                

          <p class="pub">
                <span class="poster-title">Do young children expect newly-learned words to be shared by others?</span>
                  Bartnof, A., <a href="https://ruthefoushee.com">Foushee, R.</a>, Barner, D., &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> (2017). Poster presented at the Biennial Meeting of the Society for Research in Child Development <span class="sc">(srcd)</span>, Austin, TX.
                  <span class="paper-links">
                  (<a href="poster_files/Bartnof_2017-SRCD_conventionality.pdf">poster</a>)
                </span>
          </p>
                

           <p class="pub">
                <span class="poster-title">Broad definitions of math are linked to lower levels of math anxiety.</span>
                  Jansen, R., <a href="https://ruthefoushee.com">Foushee, R.</a>, &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> (2017). Poster presented at the Biennial Meeting of the Society for Research in Child Development <span class="sc">(srcd)</span>, Austin, TX.
                  <span class="paper-links">
                  (<a href="poster_files/Jansen_Foushee_Srinivasan_2017-SRCD_mathconcept.pdf">poster</a>)
                </span>
          </p>
                
           <p class="pub">
                <span class="poster-title">Development in preschooler’s learning from naturalistic overheard speech.</span> 
                  <a href="https://ruthefoushee.com">Foushee, R.</a>, &amp; Xu, F. (2016). Poster presented at the 41st Boston University Conference on Language Development <span class="sc">(bucld41)</span>, Boston, MA.
          </p>
                

           <p class="pub">
                <span class="poster-title">Counting pieces of stuff in Tseltal Maya.</span> 
                  <a href="https://ruthefoushee.com">Foushee, R.</a> &amp; Li, P. (2016). Poster presented at the <a href="https://sites.google.com/site/pfilnu/home">Putting Fieldwork on Indigenous Languages to New Uses Workshop</a>, University of Campinas <span class="sc">(unicamp)</span>, Brazil.
                  <span class="paper-links">
                  (<a href="poster_files/Foushee_2016-PFILNU_counting.pdf">poster</a>)
                </span>
          </p>
                
           <p class="pub">
                <span class="poster-title">Sensing subjectivity: Semantic and epistemological development.</span>
                  <a href="https://ruthefoushee.com">Foushee, R.</a> &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> (2016). Poster presented at the 42nd Annual Meeting for the Society for Philosophy and Psychology <span class="sc">(spp)</span>, Austin, TX.
                  <span class="paper-links">
                  (<a href="poster_files/Foushee_2016-SPP_subjectivity.pdf">poster</a>)
                </span>
          </p>
                

           <p class="pub">
                <span class="poster-title">Active overhearing.</span>
                  <a href="https://ruthefoushee.com">Foushee, R.</a>, <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> &amp; Xu, F. (2015). Poster presented at the 9th Biennial Meeting of the Cognitive Development Society <span class="sc">(cds)</span>, Columbus, OH.
                  <span class="paper-links">
                  (<a href="poster_files/Foushee_2015-CDS_overhearing.pdf">poster</a>)
                </span>
          </p>
                
           <p class="pub">
                <span class="poster-title">Sensing subjectivity: Children’s semantic and epistemological development.</span>
                  <a href="https://ruthefoushee.com">Foushee, R.</a> &amp; <a href="https://lcdlab.berkeley.edu/people/#mahesh"</a>Srinivasan, M.</a> (2015). Poster presented at the 9th Biennial Meeting of the Cognitive Development Society <span class="sc">(cds)</span>, Columbus, OH.
                  <span class="paper-links">
                  (<a href="poster_files/Foushee_2015-CDS_adjectives.pdf">poster</a>)
                </span>
          </p>
                
           <p class="pub">
                <span class="poster-title">‘Two-pound cookies’ or ‘two pounds of cookies’: Children’s appreciation of quantity expressions.</span> 
                  <a href="https://ruthefoushee.com">Foushee, R.</a>, Falkou, N., &amp; Li, P. (2014). Poster presented at the 39th Boston University Conference on Language Development <span class="sc">(bucld39)</span>, Boston, MA.
                  <span class="paper-links">
                  (<a href="poster_files/Foushee_Falkou_Li_2014-BUCLD_twopounds.pdf">poster</a>)
                </span>
          </p>
        </div>
      </div>
    </div>
  </div>
