---
title: 2024 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">Learning a Language in Mongolia, China</h2>
          </div>
          <div class="headline">
                <h2>Skylar Hou</h2>
          </div>
          <div class="abstract">
          <p class="abstract">This paper starts with the question, why would people commit to learning a language that has no future? I will present findings from my 10-week ethnographic research conducted in Inner Mongolia, China, amongst a group of retired individuals who organized themselves to learn classic Mongolian within a context dominated by Mandarin Chinese. Despite the prevailing monolingual Mandarin environment, this group persists in learning their heritage language, which lacks the prospect of social capital or practical application.</p>

          <p class="abstract">I argue, through telling some of their stories, that learning a language may not always be oriented towards a future, such as achieving fluency or attaining revitalization. Instead, the language learning practices of this group center on their present moment, of their “here” and “now.” They use the process of learning Mongolian to fill their free time, turn the learning practices into a place to negotiate the interpretations of their aging, and <i>fold time</i> in a way that allows them to facilitate their memories of personal pasts and their imaginations of community histories.</p> 
 
          <p class="abstract">This paper will provide an alternative perspective of the social meaning of learning a language beyond a communicative means. Moreover, this paper will contribute to describing ethnic minority people’s lives in contemporary China, demonstrating the complex and dynamic ways of reclaiming and repairing their relationships with their heritage language even in a context where such language faces marginalization and erasure.</p>

        </div>
      </div>
    </div>
