
---
title: 2025 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">All Smoke and No Fire: Against Non-Ideal Philosophy of Language  As a Distinct Method 
</h2>
          </div>
          <div class="headline">
                <h2>Taylor Koles</h2>
          </div>
          <div class="abstract">
          <p class="abstract">A growing movement in contemporary philosophy of language argues that the traditional method of the discipline should be replaced in favor of “Non Ideal Philosophy of Language.” Inspired by a debate in moral and political philosophy over the use of “ideal theory,” members of this movement argue that traditional philosophy of language is methodologically flawed in over-idealizing its subject matter and neglecting morally problematic speech and that “projects in applied philosophy of language are only worth pursuing if they operate in a non-ideal framework.” So if one sees oneself as a traditional philosopher of lan guage, one has to decide to either (1) somehow become a non-ideal philosopher, (2) abandon one’s application attempts, or (3) disagree with this assessment. I argue that we should take option (3). Traditional philosophy of language is innocent of the charge of over-idealizing, and the approaches and issues advanced by the non-ideal movement are actually continuous with traditional philosophy of language and linguistics. So while increased focus on morally problematic speech is theoretically valuable and politically essential, this change in focus can be made within the big tent of philosophy of language and linguistics. Two points in particular are especially important: (1) it is a mistake to think that the notion of cooperativity that has played an important role in pragmatics is inconsistent with the study of speech between antagonistic or anti-social parties; and (2) the analogy between philosophy of language and ideal theory in political philosophy is misplaced.</p>

        </div>

        <div class="abstract-title">
                <h2 class="title">Nāgārjuna’s Critique of Language and Method</h2>
          </div>
          <div class="headline">
                <h2>Kent Taylor</h2>
          </div>
          <div class="abstract">
          <p class="abstract">What are the most fundamental questions with respect to language and method? This paper, by reconstructing an ancient Indian debate between Madhyamaka Buddhism their non-Buddhist opponents, will bring these fundamental questions to the fore. They are: (A) Does language refer to real objects? (B) Must one’s method presuppose an object or objects? My argument is that the force of Buddhism’s refutation of (A), and affirmation of (B), propels theories of language and method into pragmatic considerations. First, I will read the Vigrahavyāvartanī (Dispeller of Disputes) by Nāgārjuna, the 3rd century founder of Madhyamaka, or “Middle Way” Buddhism. In the dialogue, Nāgārjuna responds to the realist’s position according to which assertions have real essence (svbhāva). In response, Nāgārjuna asks his opponent to distinguish between assertions that are causally conditioned and assertions that are unconditioned. Since his opponent cannot, language cannot be said to possess real essence (svabhāva). The opponent then presses Nāgārjuna to see the consequences of his emptiness doctrine on inferential methods, but Nāgārjuna’s response is that such methods fall to the same dilemma, i.e., the realist cannot demonstrate the priority of object or epistemic instrument (pramāna); neither can be independent of conditions, and in fact they condition one another. After summarizing the Vigrahavyāvartanī, in effect showing that objectivity in language and method are always doubtful, I will argue that reflection on language and method need not cease. On the contrary, Nāgārjuna’s doubt, being as it is a practice of negative argumentation, can be supplemented by Robert Brandom’s groundbreaking work on norms implicit in linguistic practice. The paper concludes with an early sketch of the application of Brandom’s normative pragmatics in Making It Explicit to Madhyamaka Buddhism.</p>

        </div>

        <div class="abstract-title">
                <h2 class="title">Two Truths and a Lie?</h2>
          </div>
          <div class="headline">
                <h2>Bryan Doniger & Nate Land</h2>
          </div>
          <div class="abstract">
          <p class="abstract">Suppose that Ishmael and Queequeg are a pair of bedfellows on a whaling schooner. Despite the hard years at sea they’ve endured, each has hands and feet that remain un-maimed. They spend their nights playing ribald and transgressive rounds of ‘Two Truths and a Lie’ whilst knotting their feet together for warmth. Currently, Ishamel has the talking stick. Flashing a devilish grin, he says: 

          (1) ‘I have 10 fingers’ 
          (2) ‘I have 10 toes’ 
          (3) ‘This sentence is true’ 

          Did Ishmael just violate the rules of Two Truths and a Lie? One goal of our paper is to present, as systematically as possible, an overview of the puzzles that Queequeg faces in answering that question. A second goal is to point out some of the ‘Eleusinian Mysteries’ concerning language and meaning that our toy puzzle elucidates. Allow us to wave our hands at some of those mysteries. (3) appears to be a meaningful statement. For one thing, unlike a nonsense statement, its truth or falsity would have obvious and easily delineated implications. But: we will argue that there isn’t a viable route for determining the truth conditions of (3). Moreover: we will also argue that there isn’t even a viable route for determining whether or not (3) has truth conditions. Suppose that we are right on both counts. Would that indicate that (3) is meaningless? Is it possible for a statement like (3) to be meaningful, even if all the Queequegs of the world are barred, a priori, from knowing whether or not this statement is true (and indeed: barred even from knowing how or whether one could hypothetically figure out its truth conditions)? Also: does our inability to determine whether (3) has truth conditions mean that we don’t understand what (3) is saying?
        

        </div>

        <div class="abstract-title">
                <h2 class="title">Turning Away from Language</h2>
          </div>
          <div class="headline">
                <h2>Robert Świstelnicki</h2>
          </div>
          <div class="abstract">
          <p class="abstract">In the preface to second edition of the “Critique of Pure Reason” Immanuel Kant famously professes his belief that logic has exhausted its possibilities with the ancient findings of Aristotle. Nowadays, after we have been cultivated, for over 100 years, by the Zeitgeist of the so called “Linguistic Turn”- or in fact a number of fundamentally divergent “Linguistic Turns”- we take this belief to be obviously false. After all, haven’t various strands of post-Fregean philosophy grandiosely expanded the body of logical inquiry, while also overcoming its original Aristotelian “mistakes”? Hasn’t Heideggerianism liberated the laws of the “forms of thought” from their subject-logical confines? Finally, haven’t the Kantian studies themselves bloomed precisely because they have been internalized by the “analytical” milieu, for which the rejection of this Kantian thesis is constitutive? My paper tries to re-visit this “obvious falsity” and tries to re-examine where Kant’s confidence is derived from. Engaging in a critical conversation with” “Being and Thinking” by Irad Kimhi and “Hermeneutischer Realismus” by Anton Koch, I try to make a gesture towards an essential differentiation between notions like: “forms of thought”, “forms of being” and “linguistic forms”. I strive to show that there are reasons to “reject” the key stipulations of the Linguistic Turn. Ultimately, I strive to diverge from the fundamental drive of the “Linguistic Turn”- the drive to de-trivialize language- the drive to substitute traditional metaphysical undertaking with an attunement to problems of language. I attempt to diagnose the problematic- and sometimes even paradoxical- cul-de-sac to which it leads. At the end, I propose that it may be time for us to re-psychologize and re-ontologize- and thus: to re-trivialize- language- but without returning to the restrictive metaphysics, which the 20th century philosophy has splendidly overcome.</p>

        </div>
      </div>
    </div>
