---
title: 2024 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">Why It Doesn’t Stop at Pronouns: Gender Binary Language Within Psychological Research</h2>
          </div>
          <div class="headline">
                <h2>Paige Griffith</h2>
          </div>
          <div class="abstract">
          <p class="abstract">Within The SexTech Lab, an undergoing research project titled Being Young and Non-binary is examining the experiences of gender non-conforming individuals through the process of verbal interviews. By utilizing qualitative analysis, the language around what it means to identify outside of the man/woman binary was extracted; shedding light on the absence of a lexicon that describes the nuances of genderqueer identity. The research underscores the inadequacy of existing language in affirming gender non-conforming individuals, highlighting that mere pronoun memorization falls short in fostering inclusivity within psychological research and personal interactions. To even suggest that one is non-binary or gender non-conforming is still within the linguistic realms of a binary structure. The research emphasizes the pressing need for expansive lexicon that reflects the complexities of gender nonconformity, exiting the understanding that existing outside of the binary is only utilizing neopronouns and nothing more. Moreover, the study advocates for education on gender identity while highlighting the lack of linguistic complexities to describe nuanced identities. It calls upon clinicians and researchers to integrate gender neutral language into their work, fostering safe and affirming spaces where individuals can explore, articulate, and embody their gender identity free from preconceived notions and binary restrictions. Ultimately, this research explores how language shapes perceptions of gender identity, urging a paradigm shift towards inclusive and sensitive discourse within both academic and personal spheres. How can we as clinicians and researchers utilize non-binary gender affirming language within our practices? How does our language restrict gender non-conforming exploration? And how can we utilize language to expand the understanding of identifying outside the binary without relying on binary terms ? Are all questions this research begins to answer.</p>

        </div>
      </div>
    </div>
