---
title: 2024 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">Playing with Metaphor</h2>
          </div>
          <div class="headline">
                <h2>Kyle O'Dowd</h2>
          </div>
          <div class="abstract">
          <p class="abstract">In his 2001 essay “The Heresy of Paraphrase,” the literary critic Cleanth Brooks warns against any attempt to separate the meaning of a poem from its form. A poem is not a secret message coded through imagery, rhythm, and metaphor. Far from explicating the poem’s meaning, the best a paraphrase can do is to point us in the <i>direction</i> of its meaning. The only way to state the meaning of a poem is by repeating the poem. But this is part of the value of poetry. It expresses what cannot be expressed in plain prose.</p>

          <p class="abstract">Here I want to focus on one specific poetic device: <i>metaphor.</i> Metaphors are particularly resistant to translation into plain prose. However, explication into plain prose is exactly what we need to interpret the metaphor beyond its literal meaning. But that leads to an apparent tension. We want to say that a metaphor —like other poetic languages—is not a coded message while believing, at the same time, that a metaphor has a meaning hidden behind its literal meaning.</p> 
 
          <p class="abstract">The philosopher Donald Davidson (1978) suggests we avoid this tension by simply abandoning the idea that metaphors have a meaning beyond their literal interpretation. In Davidson’s view, the power of metaphor is not in its ability to convey meaning but to cause an effect in its reader. Metaphors are <i>useful</i> in his view, but not <i>meaningful.</i> This would explain why metaphors resist translation.  There is nothing to translate.</p>

          <p class="abstract">Both Davidson and Brooks rely on a mistaken picture of language. In my view, understanding a metaphor is not a matter of translating it into explicit plain prose—which both agree would be impossible. Instead, I advance a “pretense” theory of metaphor in which understanding the meaning of a metaphor requires us to engage in imaginative forms of play.</p>

        </div>
      </div>
    </div>
