:plain
  <div id="block-screenslatepodcastbanner" class="block block-block-content block-block-content3a6f61b0-9843-4563-8775-e0dbfe37bcde top-banner">
    <a href="/" style="background-image: url(/images/molly-emrick/crops/svgs/acrobat-banner.svg);"></a>
  </div>
