:plain
  <div class="banner-mobile">
    <div class="region region-banner">
      <!--<div id="block-screenslatepodcastbanner" class="block block-block-content block-block-content3a6f61b0-9843-4563-8775-e0dbfe37bcde top-banner">
        <a href="/articles/screen-slate-podcast" style="background-image: url(../images/title-with-research-on.eps);">
        Screen Slate Podcast Listen Now
        </a>
        </div>-->
    </div>
  </div>
