:plain
  <div class="banner-desktop">
    <div class="region region-banner">
      <!--<div id="block-chld-banner" class="block block-block-content block-block-content3a6f61b0-9843-4563-8775-e0dbfe37bcde top-banner">-->
      <!--<a href="/contact" style="background-image: url(../images/title-with-research-on.png);">
        XXXXX
        </a>
        </div>-->
    </div>
  </div>
