:plain
  <aside class="layout-sidebar-first" role="complementary">
    <div class="region region-sidebar-first">
      <div id="block-sidebar-and-slogan" class="block block-system block-system-branding-block">
        <div class="flex-container">
          <a href="/" title="Home" rel="home" class="site-logo active">
            <img height="100%" src="images/molly-emrick/crops/svgs/insta-square-RED-white.svg"/>
          </a>
          <nav role="navigation" class="block block-menu navigation menu--main">
            <ul class="menu">
              <li><a href="/" class="menu-item active" style="border-top:0.125rem solid rgb(0, 0, 0)">Home</a></li>  
              <!--<li><a href="/humans" class="menu-item">Humans</a></li>-->
              <!--<li><a href="/research">Research</a></li>-->
              <li><a href="/publications" class="menu-item">Pubs</a></li>
              <li><a href="/contact" class="menu-item">Connect!</a></li>
              <!--<li><a href="#main-content" class="focusable skip-link">News</a></li>-->          
            </ul>
          </nav>
          <!--                <div class="site-name">-->
          <!--Center for Human Language &amp; Development-->
          <!-- </div>-->
          <!--</a>-->
          <!--<div class="site-slogan">ddd</div>-->
          <!--</div>-->
        </div>
      </div>
- if content_for? :left_sidebar
  = yield_content :left_sidebar
  :plain
    </div>
- else
  :plain
    </div>
    <div class="sticky-sidebar">
      <div class="sticky-inner-wrapper">
        <div class="region region-sidebar-first-sticky">
          <nav role="navigation" aria-labelledby="block-secondarynavigation-2-menu" id="block-secondarynavigation-2" class="block block-menu navigation menu--secondary-navigation">
            <h2 class="visually-hidden" id="block-secondarynavigation-2-menu">Secondary Navigation</h2>
            <!--<ul class="menu">
              <li class="menu-item">
                <a href="/about" data-drupal-link-system-path="node/43225"></a>
              </li>
            </ul>-->
          </nav>
          <nav role="navigation" aria-labelledby="block-leftsidebarsubnavigation-menu" id="block-leftsidebarsubnavigation" class="block block-menu navigation menu--left-sidebar-sub-navigation">
            <h2 class="visually-hidden" id="block-leftsidebarsubnavigation-menu">Left Sidebar Sub Navigation</h2>
            <ul class="social">
              <li class="menu-item" style="border-bottom: 0.125rem dashed #000; border-top: 0.125rem dashed #000; padding-top: 0.625rem; padding-bottom: 0.625rem;">
                <a href="https://scholar.google.com/citations?user=CvhKbjsAAAAJ&amp;hl=en" target="_blank">Google Scholar</a>
              </li>
              <li class="menu-item" style="border-bottom: 0.125rem dashed #000; padding-top: 0.625rem; padding-bottom: 0.625rem;">
                <a href="https://twitter.com/ruthefoushee/">Twitter</a>
              </li>
              <!--<li class="menu-item">
                <a href="https://www.facebook.com/screenslate/">Facebook</a>
              </li>-->
              <li class="menu-item" style="border-bottom: 0.125rem dashed #000; padding-top: 0.625rem; padding-bottom: 0.625rem;">
                <a href="https://www.instagram.com/centerforhumanlang/">Instagram</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
:plain
  </aside>
