:plain
  <!--
  <div id="block-screenslatedaily" class="block screenslate-daily block-block-content block-block-content10697ef0-a201-472b-999e-902564dc0573">
    <div class="subscribe-wrapper">
      <div class="subscribe-wrapper-inner">
        <div class="field field--name-field-title field--type-string-long field--label-hidden field__item">Sign up for the Newsletter</div>
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="/newsletter">Subscribe</a></p>
        </div>
      </div>
    </div>
  </div>
  -->

  <div id="block-listings" class="block block-block-content block-block-content55096a7d-b561-4088-b7b0-d04fb06816ba">
    <h2 style="margin-bottom:3%; margin-top:1%" id="news">CHLD News:</h2>
    <span class="arrow" role="presentation"><span class="point"></span></span>
    <div id="news">
       <div class="row">
          <div class="date">
              <h3 class="date"> Feb 2024 </h3>
          </div>
          <div class="news-item">
          We are excited to be receiving abstracts for the graduate student conference entitled <a href="https://event.newschool.edu/languageconference"><i>Language: What is it Good For?</i></a><p style="margin-bottom:-.1rem"></p>

          <a href="https://forms.gle/SZ6dzqKjW9w6spW5A">There is still time to submit work</a>  that speaks to: 
              <ul class="news-sublist" style="margin-bottom:-.5rem">
                <li> <i>Contributors to communicative success</i> & characterizing communicative ‘failure’ or misunderstanding</li>
                <li> <i>Interlocutor effects in conversation</i>: how do different interlocutors make different conversations possible? How do listeners influence speakers?</li>
                <li> <i>The interplay of language structure, multimodal cues (e.g., gesture), context, biology, & history</i> in linguistic interpretation, online processing, and language production </li>
                <li> <i>Competing disciplinary conceptualizations of language</i> (& their implications), with opportunities for interdisciplinary insight.</li>
              </ul>
          </div>
        </div>
       <!--<div class="row">
          <div class="date">
              <h3 class="date"> Jan 2024 </h3>
          </div>
          <div class="news-item">
          Ruthe will be speaking at the International Congress for the Study of Child Language (IASCL2024), as part of a symposium on the use of multimodal data.
          </div>
        </div>-->
        <div class="row">
          <div class="date">
              <h3 class="date"> Jan 2024 </h3>
          </div>
          <div class="news-item">
          Lang students Ana Hafley and Nivedita (Nivi) Gargi will be conducting their senior capstones in the lab. Ana is investigating how self reports of psychedelic experiences can give us insight into how we use language to express 'ineffable' phenomena, and the relation between ineffability and mysticism. Nivi will be collecting and analyzing <a href="https://ruthefoushee.com/resources/handouts/linguistic-self-portrait.pdf">language portraits</a> from children across New York City.
          </div>
      </div>
        <div class="row">
          <div class="date">
              <h3 class="date"> Nov 2023 </h3>
          </div>
          <div class="news-item">
              The NSSR Dean's Office awarded funding to graduate student Travis Stackow and Gen Tsudaka to host a conference on <i>what we can and can't do, using language.</i> <p style="margin-bottom:-.1rem"></p>

              The two-day conference will facilitate interdisciplinary collaborations among graduate students across the city.
          </div>
        </div>
        <div class="row">
          <div class="date">
              <h3 class="date"> Aug 2023 </h3>
          </div>
          <div class="news-item">
              We're moving in to the 7th floor of 80 Fifth Avenue!
          </div>
        </div>
    <div>
      <img style="width: 250px; margin:auto" src="/images/BuildingG-80FIFTHAVENUE.jpeg">
    </div>
    </div>
  </div>
  <h2><a href="#" style="border-bottom: 0.125rem dashed #000;
                         border-top: 0.125rem dashed #000;
                         display: block;
                         text-decoration: none;
                         padding: 0.625rem 0;
                         font-size: large;
                         font-family: 'Neue';
                         text-transform: uppercase;
                         font-weight: bold; margin-top:2%">More News to Come</a></h2>
