:plain
  <!--
  <div id="block-screenslatedaily" class="block screenslate-daily block-block-content block-block-content10697ef0-a201-472b-999e-902564dc0573">
    <div class="subscribe-wrapper">
      <div class="subscribe-wrapper-inner">
        <div class="field field--name-field-title field--type-string-long field--label-hidden field__item">Sign up for the Newsletter</div>
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="/newsletter">Subscribe</a></p>
        </div>
      </div>
    </div>
  </div>
  -->

  <div id="block-listings" class="block block-block-content block-block-content55096a7d-b561-4088-b7b0-d04fb06816ba">
    <h2 style="margin-bottom:3%; margin-top:1%" id="news">CHLD News:</h2>
    <span class="arrow" role="presentation"><span class="point"></span></span>
    <div id="news">
        <div class="row">
          <div class="date">
              <h3 class="date"> Nov 2023 </h3>
          </div>
          <div class="news-item">
              The NSSR Dean's Office awarded funding to graduate student Travis Stackow to host a conference on <i>what we can and can't do, using language.</i> <p style="margin-bottom:-.1rem"></p>

              The two-day conference will facilitate interdisciplinary collaborations among graduate students across the city.
          </div>
        </div>
        <div class="row">
          <div class="date">
              <h3 class="date"> Aug 2023 </h3>
          </div>
          <div class="news-item">
              We're moving in to the 7th floor of 80 Fifth Avenue!
          </div>
        </div>
    <div>
      <img style="width: 250px; margin:auto" src="/images/BuildingG-80FIFTHAVENUE.jpeg">
    </div>
    </div>
  </div>
  <h2><a href="#" style="border-bottom: 0.125rem dashed #000;
                         border-top: 0.125rem dashed #000;
                         display: block;
                         text-decoration: none;
                         padding: 0.625rem 0;
                         font-size: large;
                         font-family: 'Neue';
                         text-transform: uppercase;
                         font-weight: bold; margin-top:2%">More News to Come</a></h2>
