:plain
  <!--<div style="border-bottom:2px dashed #000;border-top:2px dashed #000;" style="margin-top:rem"> <p class="students">Currently accepting students.</p></div>-->
  <div id="block-listingsarrowandaboutlink" class="block block-block-content block-block-content81f60153-b897-44e0-806a-2c09e38aa944">
    <div class="field field--name-field-listings-label field--type-string field--label-hidden field__item"><a href="#news" aria-label="Go to news">News</a></div>
  </div>
