:plain
  <!--
  <div id="block-screenslatedaily" class="block screenslate-daily block-block-content block-block-content10697ef0-a201-472b-999e-902564dc0573">
    <div class="subscribe-wrapper">
      <div class="subscribe-wrapper-inner">
        <div class="field field--name-field-title field--type-string-long field--label-hidden field__item">Sign up for the Newsletter</div>
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="/newsletter">Subscribe</a></p>
        </div>
      </div>
    </div>
  </div>
  -->

  <div id="block-listings" class="block block-block-content block-block-content55096a7d-b561-4088-b7b0-d04fb06816ba">
    <h2 style="margin-bottom:3%; margin-top:1%" id="news">CHLD News:</h2>
    <span class="arrow" role="presentation"><span class="point"></span></span>
    <div id="news">
    <table id="news">
      <tr> 
        <td class="date"> [11/2023] </td>
        <td class="news-item"> The NSSR Dean's Office awarded funding to graduate student Travis Stackow to host a conference on <i>what we can and can't do, using language</i>.<p style="margin-bottom:-.25rem"></p>

        The two-day conference will facilitate interdisciplinary collaborations between graduate students across the city.</td>
      </tr>

      <tr>
        <td class="date">[08/2023] </td>
        <td class="news-item"> We're moving in to the 7th floor of 80 Fifth Avenue!</td>
      </tr>
    </table>
    <div>
      <img style="width: 200px; margin:auto" src="/images/BuildingG-80FIFTHAVENUE.jpeg">
    </div>
    </div>
    <!--<ul class="news">
      <li class="news-item">[11/2023] The NSSR Dean's Office awarded funding to graduate student Travis Stackow (with help from Gen Tsudaka) to host an interdisciplinary conference on what can and cannot be done with language.</li> <!-- for a conference devoted to highlighting interdisciplinary graduate student perspectives on what can and can't be done with language.</p>-->
    <!--</ul>
      <ul>
      <li>We're moving in to the 7th floor of 80 Fifth St!</li>
      <li>Paper under revision</li>
      <li>Paper accepted</li>
      <li>CGSL funding </li>
      <h3 class="date" style="font-weight:bold; text-transform:uppercase">November 2022</h3>
    <span style="font-weight:normal">The NSSR Dean's Office awarded funding to graduate student Travis Stackow to host an interdisciplinary conference on what can and cannot be done with language.</span>
      <h3 class="date" style="font-weight:bold; text-transform:uppercase">August 2023</h3>
    <span style="font-weight:normal">We're moving in to the 7th floor of 80 Fifth Avenue!</span>
      </ul>-->
  </div>
  <h2><a href="#" style="border-bottom: 0.125rem dashed #000;
                         border-top: 0.125rem dashed #000;
                         display: block;
                         text-decoration: none;
                         padding: 0.625rem 0;
                         font-size: large;
                         font-family: 'Neue';
                         text-transform: uppercase;
                         font-weight: bold; margin-top:2%">More News to Come</a></h2>
