:plain
  <!--
  <div id="block-screenslatedaily" class="block screenslate-daily block-block-content block-block-content10697ef0-a201-472b-999e-902564dc0573">
    <div class="subscribe-wrapper">
      <div class="subscribe-wrapper-inner">
        <div class="field field--name-field-title field--type-string-long field--label-hidden field__item">Sign up for the Newsletter</div>
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="/newsletter">Subscribe</a></p>
        </div>
      </div>
    </div>
  </div>
  -->

  <div id="block-listings" class="block block-block-content block-block-content55096a7d-b561-4088-b7b0-d04fb06816ba">
    <h2 style="margin-bottom:3%; margin-top:1%" id="news">CHLD News:</h2>
    <span class="arrow" role="presentation"><span class="point"></span></span>
    <div id="news">
        <div class="row">
        <div class="date">
              <h3 class="date">Feb 2025</h3>
          </div>
        <div class="news-item">
        Ruthe gave a talk entitled "Beyond Child-Directed Speech: Active Learning in Early Language Development" at the <a href="https://ruccs.rutgers.edu/talks/list-of-past-events/list.events/-?catids=35">Rutgers Center for Cognitive Science Colloquium Series.</a>
        <p style="margin-bottom:0rem"></p>
        
        With generous funding from the Eugene Lang College of Liberal Arts Dean's office, the lab welcomed its first research interns, Nathan Simon and Henri Winter!
        </div>
        </div>
    <div class="row">
          <div class="date">
              <h3 class="date"> Jan 2025 </h3>
          </div>
          <div class="news-item">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfsifip0odlEWWE39Gu2UGZYMLOGCxKIoQneARHNNrjWd4vqg/viewform">We are accepting abstracts</a> for the second annual interdisciplinary early-career researcher conference.</p>

          This year's theme is <a href="https://event.newschool.edu/languageandmethod"><i>Language and Method</i></a>, asking:<p style="margin-bottom:-.1rem">
              <ul class="news-sublist" style="margin-bottom:-.5rem">
                <li> <i>What are the implications of methodological pluralism in the study of human language? Are any methods truly incompatible?</i></li>
                <li><i>Do methodological commitments divide disciplines? If so, are these divisions over- or under- exaggerated? Where is there common ground?</i></li>
                <li> <i>What is the relation between methodology and object of inquiry?</i></li>
              </ul>
          </div>
        </div>
    <div class="row">
          <div class="date">
              <h3 class="date"> Dec 2024 </h3>
          </div>
          <div class="news-item">
          Lab members Sydney Segal, Anna Mercier, Silver Litfin, and Alexandra Kahn received competitive Student Research Award funding for their proposal capturing embodied communication between Tseltal Maya infants and mothers.
          <p style="margin-bottom:0rem"></p>

          Lorraine Afflitto passed the defense for her proposed dissertation, "Infants' sensitivity to sartorial markers of ethnic identity" &#8212; congrats, Lorraine!
          <p style="margin-bottom:0rem"></p>

          Two lab projects were accepted to the <a href="https://www.srcd.org/event/srcd-2025-biennial-meeting">Biennial Meeting of the Society for Research in Child Development (#SRCD25)</a>, taking place in Minneapolis in May.
          </div>
        </div>
    <div class="row">
          <div class="date">
              <h3 class="date"> Nov 2024 </h3>
          </div>
          <div class="news-item">
          A second annual language conference was funded by the NSSR Dean's office! We're looking forward to building on the success of last year. 
          </div>
        </div>
    <div class="row">
          <div class="date">
              <h3 class="date"> Aug 2024 </h3>
          </div>
          <div class="news-item">
          Travis Stackow started as a first-year Psychology Ph.D. student in the <a href="https://www.newschool.edu/nssr/phd-cognitive-social-developmental-psychology/">Cognitive, Social, Developmental</a> area at NSSR!
          </div>
        </div>
      <div class="row">
          <div class="date">
              <h3 class="date"> July 2024 </h3>
          </div>
          <div class="news-item">
          Ruthe spoke about hearing caregivers' interactions with their deaf and hearing children at the <a href="https://iascl2024.com">International Association for the Study of Child Language</a> in Prague.
          </div>
        </div>
      <div class="row">
          <div class="date">
              <h3 class="date"> May 2024 </h3>
          </div>
          <div class="news-item">
          Ana Hafley and Nivi Gargi, senior capstone students in the lab, graduated from Lang &#8212; congratulations, both!
          </div>
        </div>
      <div class="row">
          <div class="date">
              <h3 class="date"> April 2024 </h3>
          </div>
          <div class="news-item">
          The <a href="https://event.newschool.edu/languageconference"><i>Language: What is it Good For?</i></a> conference was a success, with graduate student scholars presenting <a href="/events">work from diverse disciplinary perspectives</a> &#8212; including linguistics, psychology, philosophy, anthropology, literary theory, cultural studies, performance studies, and design.<p style="margin-bottom:-.1rem"></p>

          NSSR students Travis Stackow, Gen Tsudaka, Matteo Burrell, Sydney Segal, Abby Merrick, and Zach Sauer chaired panels. Jay Krizan, Arnold Yiu, and Pip Yap made sure everything went smoothly &#8212; and the lab (specifically Ruthe, Travis, Gen, Sydney, Simone, and Jay) made the food for the conference! 
          </div>
        </div>
       <div class="row">
          <div class="date">
              <h3 class="date"> Feb 2024 </h3>
          </div>
          <div class="news-item">
          We are excited to be receiving abstracts for the graduate student conference entitled <a href="https://event.newschool.edu/languageconference"><i>Language: What is it Good For?</i></a><p style="margin-bottom:-.1rem"></p>

          <a href="https://forms.gle/SZ6dzqKjW9w6spW5A">There is still time to submit work</a>  that speaks to: 
              <ul class="news-sublist" style="margin-bottom:-.5rem">
                <li> <i>Contributors to communicative success</i> & characterizing communicative ‘failure’ or misunderstanding</li>
                <li> <i>Interlocutor effects in conversation</i>: how do different interlocutors make different conversations possible? How do listeners influence speakers?</li>
                <li> <i>The interplay of language structure, multimodal cues (e.g., gesture), context, biology, & history</i> in linguistic interpretation, online processing, and language production </li>
                <li> <i>Competing disciplinary conceptualizations of language</i> (& their implications), with opportunities for interdisciplinary insight.</li>
              </ul>
          </div>
        </div>
       <!--<div class="row">
          <div class="date">
              <h3 class="date"> Jan 2024 </h3>
          </div>
          <div class="news-item">
          Ruthe will be speaking at the International Congress for the Study of Child Language (IASCL2024), as part of a symposium on the use of multimodal data.
          </div>
        </div>-->
        <div class="row">
          <div class="date">
              <h3 class="date"> Jan 2024 </h3>
          </div>
          <div class="news-item">
          Lang students Ana Hafley and Nivedita (Nivi) Gargi will be conducting their senior capstones in the lab. Ana is investigating how self reports of psychedelic experiences can give us insight into how we use language to express 'ineffable' phenomena, and the relation between ineffability and mysticism. Nivi will be collecting and analyzing <a href="https://ruthefoushee.com/resources/handouts/linguistic-self-portrait.pdf">language portraits</a> from children across New York City.
          </div>
      </div>
        <div class="row">
          <div class="date">
              <h3 class="date"> Nov 2023 </h3>
          </div>
          <div class="news-item">
              The NSSR Dean's Office awarded funding to graduate student Travis Stackow and Gen Tsudaka to host a conference on <i>what we can and can't do, using language.</i> <p style="margin-bottom:-.1rem"></p>

              The two-day conference will facilitate interdisciplinary collaborations among graduate students across the city.
          </div>
        </div>
        <div class="row">
          <div class="date">
              <h3 class="date"> Oct 2023 </h3>
          </div>
          <div class="news-item">
              Ruthe got to speak to the Developmental area at <a href="https://www.gc.cuny.edu/">CUNY Graduate Center</a>, where students asked great questions!
          </div>
        </div>
        <div class="row">
          <div class="date">
              <h3 class="date"> Aug 2023 </h3>
          </div>
          <div class="news-item">
              We're moving in to the 7th floor of 80 Fifth Avenue!
          </div>
        </div>
    <div>
      <img style="width: 250px; margin:auto; padding-bottom:5%" src="/images/BuildingG-80FIFTHAVENUE.jpeg">
    </div>
    </div>
  </div>
  <!--<h2><a href="#" style="border-bottom: 0.125rem dashed #000;
                         border-top: 0.125rem dashed #000;
                         display: block;
                         text-decoration: none;
                         padding: 0.625rem 0;
                         margin-bottom: 2%;
                         font-size: large;
                         font-family: 'Neue';
                         text-transform: uppercase;
                         font-weight: bold; margin-top:2%">More News to Come</a></h2>-->
