:plain
  <!--
  <div id="block-screenslatedaily" class="block screenslate-daily block-block-content block-block-content10697ef0-a201-472b-999e-902564dc0573">
    <div class="subscribe-wrapper">
      <div class="subscribe-wrapper-inner">
        <div class="field field--name-field-title field--type-string-long field--label-hidden field__item">Sign up for the Newsletter</div>
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="/newsletter">Subscribe</a></p>
        </div>
      </div>
    </div>
  </div>
  -->

  <div id="block-listings" class="block block-block-content block-block-content55096a7d-b561-4088-b7b0-d04fb06816ba">
    <h2 style="margin-bottom:2%; margin-top:2%" id="news">CHLD News:</h2>
    <span class="arrow" role="presentation"><span class="point"></span></span>
    <!--<div id="news" style="width: 1000px; : center">-->
    <span>We're moving in to the 7th floor of 80 Fifth Avenue!</span>
    <div style="margin-top:2%">
      <img style="width: 200px; margin:auto" src="/images/BuildingG-80FIFTHAVENUE.jpeg">
    </div>
    <!--<ul>
      <li>We're moving in to the 7th floor of 80 Fifth St!</li>
      <li>Paper under revision</li>
      <li>Paper accepted</li>
      <li>CGSL funding </li>
      </ul>-->
    </div>
  </div>

  <h2><a href="#" style="border-bottom: 0.125rem dashed #000;
                         border-top: 0.125rem dashed #000;
                         display: block;
                         text-decoration: none;
                         padding: 0.625rem 0;
                         font-size: large;
                         font-family: 'Neue';
                         text-transform: uppercase;
                         font-weight: bold; margin-top:2%">More News to Come!</a></h2>
