:plain
  <aside class="layout-sidebar-second" role="complementary">

    <aside class="region region-sidebar-second">

      <div class="views-exposed-form block block-views block-views-exposed-filter-blocksite-search-search search-block-form" data-drupal-selector="edit-" id="block-exposedformsite-searchsearch-3">
        <form action="/search" method="get" id="edit---2" accept-charset="UTF-8">

          <div class="form--inline clearfix">

            <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--2">
            </div>

          </div>
        </form>

      </div>
      <nav role="navigation" aria-labelledby="block-rightsidebarmenu-menu" id="block-rightsidebarmenu" class="block block-menu navigation menu--right-sidebar-menu">

      </nav>
      <div class="views-element-container block block-views block-views-blockupcoming-events-block-1" id="block-views-block-upcoming-events-block-1">
        <div>
          <div class="view view-upcoming-events view-id-upcoming_events view-display-id-block_1 js-view-dom-id-04f684944839aecd329a00c0df9f0efd84b4e808b068b2b751464b40b622e9c8">


            <div class="view-header">

              <div id="block-eventspagelink" class="block block-block-content block-block-content49b65144-dde6-49ac-ac97-b931b999f191 back-link">

                <div class="field field--name-field-link field--type-link field--label-hidden field__item"><a href="/jobs"> Jobs:</a></div>
              </div>
            </div>

            <div class="view-content">
              <div class="views-row">
                <article data-history-node-id="60826" role="article" about="/jobs" class="node node--type-event node--promoted node--view-mode-teaser">

                  <div class="node__content">
                    <div style="text-align: center; margin-bottom: 5%;" class="event-header">
                      <h2>
                        <a href="/jobs">
                          <span class="field field--name-title field--type-string field--label-hidden">Lab Coordinator</span>
                        </a>
                      </h2>
                      <a href="/jobs">
                        <img class="default" alt="Acrobat graphics courtesy of Molly Emrick, Philly-based tattoo artist (https://www.instagram.com/mollyemrick)" src="images/molly-emrick/crops/svgs/f-hanging-high-airplane-rings.svg" style="width: 140px"/>
                        <img class="hover" alt="Acrobat graphics courtesy of Molly Emrick, Philly-based tattoo artist (https://www.instagram.com/mollyemrick)" src="images/molly-emrick/crops/svgs/f-hanging-high-airplane-rings-RED.svg" style="width: 140px"/>
                      </a>
                    </div>
                  </div>

                  <div class="node__content">
                    <div style="text-align: center; margin-bottom: 2%;" class="event-header">
                      <h2>
                        <a href="/jobs">
                          <span class="field field--name-title field--type-string field--label-hidden">Research Assistant</span>
                        </a>
                      </h2>
                      <a href="/jobs">
                        <img class="default" alt="Acrobat graphics courtesy of Molly Emrick, Philly-based tattoo artist (https://www.instagram.com/mollyemrick)" src="images/molly-emrick/crops/svgs/acroyoga-tower-cropped.svg" style="width: 140px"/>
                        <img class="hover" alt="Acrobat graphics courtesy of Molly Emrick, Philly-based tattoo artist (https://www.instagram.com/mollyemrick)" src="images/molly-emrick/crops/svgs/acroyoga-tower-cropped-RED.svg" style="width: 140px"/>
                      </a>
                    </div>
                  </div>
                </article>
              </div>

            </div>

            <div class="view-footer">
              <a href="/jobs" class="views-display-link views-display-link-page_upcoming_events">More Opportunities</a>
            </div>
            <div style="border-bottom:2px dashed #000;"> <p class="students" style="color:rgba(232, 46, 33, 1)">*Currently accepting students.</p></div>
          </div>
        </div>
      </div>

      <!--<div class="view-content">-->
      <div id="block-sidebarpatreonlink" class="block block-block-content block-block-content2adc9977-a526-44cb-9b02-30c0fd9b61e6">
        <div class="field field--name-field-link field--type-link field--label-hidden field__item"><a href="https://forms.gle/QXHasDsZrsFiFvd86" target="_blank">Participate in our Research</a></div>
        <!--</div>-->
        <nav role="navigation" aria-labelledby="block-sidebarsocialmenu-menu" id="block-sidebarsocialmenu" class="block block-menu navigation menu--sidebar-social-menu">

          <!--<h2 class="visually-hidden" id="block-sidebarsocialmenu-menu">Sidebar Social Menu</h2>-->
          <ul class="social">
            <!--<li class="menu-item">
              <a href="https://www.facebook.com/chld/" target="_blank">Facebook</a>
              </li>-->
              <li class="menu-item">
                <a style="line-height: 1.1em;" href="https://scholar.google.com/citations?user=CvhKbjsAAAAJ&amp;hl=en" target="_blank">Google Scholar</a>
              </li>
              <li class="menu-item">
                <a href="https://twitter.com/ruthefoushee"target="_blank" title="twitter-link">Twitter</a>
              </li>
              <li class="menu-item">
                <a href="https://www.instagram.com/centerforhumanlang/" style="line-height: 1.1em;" target="_blank" title="insta-link">Instagram</a>
              </li>
          </ul>

        </nav>


      </div>
    </aside>

  </aside>
