---
title: Human Language & Development Lab at the New School for Social Research
body_classes: path-frontpage page-node-type-page
---
- content_for :left_sidebar, partial('news_sidebar')
- content_for :right_sidebar, partial('right_sidebar')
- content_for :bottom, partial('news')
:plain
  <div id="block-chld-content" class="block block-system block-system-main-block">
    <article data-history-node-id="43184" role="article" about="/home-page" typeof="schema:WebPage" class="node node--type-page node--view-mode-full">
      <span property="schema:name" content="Home Page" class="rdf-meta hidden"></span>
      <div class="node__content">
      </div>
    </article>
  </div>
  <div class="views-element-container block block-views block-views-blocklatest-article-block-1" id="block-views-block-latest-article-block-1-2">
    <div>
      <div class="view view-latest-article view-id-latest_article view-display-id-block_1 js-view-dom-id-280eeb480ecb6b8f045d7b0befa40b7411db21852444120838a096db00dbb985">
        <div class="view-header">
          <div id="block-articles-back-link" class="block block-block-content block-block-content9572a608-b81a-4c89-bbdc-6edf77f459db back-link">
          </div>
        </div>

        <div class="view-content">
          <div class="views-row">
            <article data-history-node-id="60890" role="article" typeof="schema:Article" class="node node--type-article node--promoted node--view-mode-featured">
              <div class="node__content">
                <div class="flex-container" id="main-site-title-and-image" style="position: relative; height: auto">
                  <div id="main-site-title">
                      <img src="/images/chld-site-title/human-lang-and-dev-lab.svg">
                      <!--<div class="flex-container" style="display: flex; justify-content: center; align-items:baseline;">
                      <span style="font-size:2.6vw">The &nbsp;</span><span style="color:rgba(232, 46, 33, 1); font-size:2.7vw">Human</span>
                       </div>
                      <span id="human-lang-and-dev" style="font-size:2.7vw">Language</span> <span style="color:rgba(232, 46, 33, 1); font-size:2.7vw">&nbsp;&#38;</span> <span style="color:rgba(232, 46, 33, 1); font-size:2.65vw">Development<br></span>
                      <span id="human-lang-and-dev" style="font-size:2.65vw">Laboratory</span>-->
                  </div>
                  <img id="main-image" src="/images/molly-emrick/crops/svgs/toss.svg">
                  <div class="author"> &#64; 
                    <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item" id="at-the-nssr"><a href="https://www.newschool.edu/nssr/" hreflang="en">the New School for Social Research</a></div>
                  </div>
                </div>
                <div class="description">

                  <p class="description">The Human Language and Development Laboratory is an interdisciplinary research lab at the <a href="https://www.newschool.edu/nssr/">New School for Social Research</a> dedicated to the study of human linguistic and nonlinguistic communication from infancy through adulthood. It is directed by <a href="https://ruthefoushee.com/">Ruthe Foushee</a>, <a href="https://www.newschool.edu/nssr/faculty/ruthe-foushee/">in the Department of Psychology</a>.</p>

                  <p class="description">The lab integrates evidence from a range of empirical methodologies (including eyetracking; behavioral experiments conducted in the laboratory, classroom, online, and in the field; analyses of naturalistic behavior and spontaneous language use; and qualitative interviews and survey data), with a focus on approaches that are at once ecologically valid and quantitatively rigorous.</p>

                  <p class="description">Our research is informed by work in semantics, sociolinguistics, linguistic anthropology, philosophy of language, cognitive development, and machine learning.</p> <!--The lab integrates a range of empirical methods to uncover the mechanisms underlying everyday communicative success, including eyetracking,  </p>-->
                </div>

              </div>

            </article>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="views-element-container block block-views block-views-blocklatest-articles-block-1" id="block-views-block-latest-articles-block-1">
    <div>

      <div class="view view-latest-articles view-id-latest_articles view-display-id-block_1 js-view-dom-id-bff5297a02465334a9bb30fa2e1be30247ca59ce95043187061fd8c068f610cf">



        <div class="view-content">
        <div class="views-row">

            <article data-history-node-id="60838" role="article" about="https://osf.io/preprints/psyarxiv/m86ds" typeof="schema:Article" class="node node--type-article node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="text">
                  <div class="field field--name-field-categories field--type-entity-reference field--label-hidden field__items">
                    <div class="field__item">
                      <a class="item-label" href="https://osf.io/preprints/psyarxiv/m86ds">New Preprint</a>
                    </div>
                  </div>
                  <div class="text-inner">
                    <h2 style="line-height: 1; margin-bottom: 1rem">
                      <a href="https://psyarxiv.com/zj4vt" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Multilingual Children Learn What Languages Socially Signify</span>

                      </a>
                    </h2>

                    <a href="https://psyarxiv.com/zj4vt" rel="bookmark">
                      <img property="schema:image" loading="lazy" src="images/highlights/india-socioling/hindu-vs-white-learning.jpeg" alt="How well will she come to learn...?" title="How well will she come to learn...?"/>
                    </a>
                  </div>

                  <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item"></div>

                </div>
                <div class="field field--name-field-image field--type-image field--label-hidden field__item">


                </div>
              </div>
            </article>

          </div>
        <div class="views-row">

            <article data-history-node-id="60838" role="article" about="https://www.nature.com/articles/s41562-023-01698-3" typeof="schema:Article" class="node node--type-article node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="text">
                  <div class="field field--name-field-categories field--type-entity-reference field--label-hidden field__items">
                    <div class="field__item">
                      <a class="item-label" href="https://www.nature.com/articles/s41562-023-01698-3">New Publication</a>
                    </div>
                  </div>
                  <div class="text-inner">
                    <h2 style="line-height: 1; margin-bottom: 1rem">
                      <a href="https://www.nature.com/articles/s41562-023-01698-3" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Adults Infer What Children Mean to Say</span>

                      </a>
                    </h2>

                    <a href="https://www.nature.com/articles/s41562-023-01698-3" rel="bookmark">
                      <img property="schema:image" loading="lazy" src="images/highlights/cdl/cdl-model-comparison.png" alt="Child-directed listening model comparison" title="Child-directed listening model comparison"/>
                    </a>
                  </div>

                  <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item"></div>

                </div>
                <div class="field field--name-field-image field--type-image field--label-hidden field__item">


                </div>
              </div>
            </article>

          </div>
          <div class="views-row">
            <article data-history-node-id="60838" role="article" about="https://journals.sagepub.com/doi/full/10.1177/09637214221123920" typeof="schema:Article" class="node node--type-article node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="text">
                  <div class="field field--name-field-categories field--type-entity-reference field--label-hidden field__items">
                    <div class="field__item">
                      <a class="item-label" href="https://journals.sagepub.com/doi/full/10.1177/09637214221123920">New Publication </a>
                    </div>
                  </div>
                  <div class="text-inner">
                    <h2 style="line-height: 1; margin-bottom: 1rem">
                      <a href="https://journals.sagepub.com/doi/full/10.1177/09637214221123920" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Children Are <i>Active Language Learners</i></span>

                      </a>
                    </h2>
                    <a href="https://journals.sagepub.com/doi/full/10.1177/09637214221123920">
                      <img property="schema:image" loading="lazy" style="margin:auto" src="images/highlights/active-learning-in-lang-dev/active-learning-demos.jpeg" alt="Active Learning in Language Development" title="Active Learning in Language Development"/>
                    </a>
                  </div>

                  <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item"></div>

                </div>
                <div class="field field--name-field-image field--type-image field--label-hidden field__item">


                </div>
              </div>
            </article>
          </div>
          <div class="views-row">

            <article data-history-node-id="60838" role="article" about="https://journals.sagepub.com/doi/full/10.1177/09637214221123920" typeof="schema:Article" class="node node--type-article node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="text">
                  <div class="field field--name-field-categories field--type-entity-reference field--label-hidden field__items">
                    <div class="field__item">
                      <a class="item-label" href="https://psyarxiv.com/g84pw">New Preprint</a>
                    </div>
                  </div>
                  <div class="text-inner">
                    <h2 style="line-height: 1; margin-bottom: 1rem">
                      <a href="https://psyarxiv.com/g84pw" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Tseltal Infants Learn Words by Overhearing</span>

                      </a>
                    </h2>

                    <a href="https://psyarxiv.com/g84pw" rel="bookmark">
                      <img property="schema:image" loading="lazy" src="images/highlights/tseltal/carrying-three-ways.svg" alt="Tseltal mother carrying infant on back three ways" title="Tseltal mother carrying infant on back three ways"/>
                    </a>
                  </div>

                  <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item"></div>

                </div>
                <div class="field field--name-field-image field--type-image field--label-hidden field__item">


                </div>
              </div>
            </article>

          </div>
          <div class="views-row">

            <article data-history-node-id="60838" role="article" about="https://journals.sagepub.com/doi/full/10.1177/09637214221123920" typeof="schema:Article" class="node node--type-article node--promoted node--view-mode-teaser">
              <div class="node__content">
                <div class="text">
                  <div class="field field--name-field-categories field--type-entity-reference field--label-hidden field__items">
                    <div class="field__item">
                      <a class="item-label" href="https://psyarxiv.com/zj4vt">New Preprint</a>
                    </div>
                  </div>
                  <div class="text-inner">
                    <h2 style="line-height: 1; margin-bottom: 1rem">
                      <a href="https://psyarxiv.com/zj4vt" rel="bookmark">
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Preschoolers Listen Based on Speech Complexity</span>

                      </a>
                    </h2>

                    <a href="https://psyarxiv.com/zj4vt" rel="bookmark">
                      <img property="schema:image" loading="lazy" src="images/highlights/storybook/complexity-age-interaction.svg" alt="Interaction between speech complexity and child age in predicting online attention" title="Interaction between speech complexity and child age in predicting online attention"/>
                    </a>
                  </div>

                  <div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item"></div>

                </div>
                <div class="field field--name-field-image field--type-image field--label-hidden field__item">


                </div>
              </div>
            </article>

          </div>
        </div>
      </div>
    </div>

  </div>
