---
title: 2024 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">The Impact of Chunked Determiner Phrases on Verb Learning In Preschoolers</h2>
          </div>
          <div class="headline">
                <h2>Huanhuan Shi</h2>
          </div>
          <div class="abstract">
          <p class="abstract">Children can learn verb meanings from their linguistic context, a mechanism known as syntactic bootstrapping.1 It requires children to process language in real time and hold it in memory to identify the referent of the verb, which can be taxing for young children and impede verb learning. Therefore, linguistic contexts should offer sufficient information for verb learning without overloading children’s processing capacities.2,3 One way to reduce memory demands is chunking, or grouping individual pieces of a set of information to allow more efficient storage and retrieval.4 Previous research suggested that preschoolers struggle to learn verbs in linguistic contexts with modified determiner phrases (e.g., <b>the tall boy</b> is <i>pillking</i>) due to processing difficulties.5 In this study, we ask whether chunking the modified determiner phrases before introducing the novel verb can enhance children’s verb learning.</p>

          <p class="abstract">Monolingual English-speaking children (N = 194) aged 30 to 41 months (mean = 33.2 months) participated in a verb-learning task. Novel verbs were introduced in contexts with modified determiner phrases, but presentation was preceded by one of two types of pre-exposure. In the Chunked condition, children first heard the determiner phrases (e.g., the tall boy) as a chunk before hearing the verb. In the Jumbled condition, they heard the words "the," "tall," and "boy" in different phrases but never as one chunk (see Table 1).</p>

          <p class="abstract">A linear mixed-effect model revealed no effect of condition (β = -0.11, p = .31), and performance was not above chance in either condition (Chunked: mean = 0.43; Jumbled: mean = 0.47), indicating that children failed to learn the verbs (see Figure 1). We concluded that familiarizing children to highly informative linguistic chunks did not adequately lighten processing demands, potentially leaving insufficient resources for verb learning. Further research is needed to investigate alternative methods for reducing processing difficulties in verb learning.</p>

        </div>
      </div>
    </div>
