---
title: 2024 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">EMLang</h2>
          </div>
          <div class="headline">
                <h2>Ranger Liu Daquila</h2>
          </div>
          <div class="abstract">
          <p class="abstract">EMLang is a speculative body of work—spanning video, audio, graphics, text, and performance—exploring a fictive field of linguistics and art arising entirely from a constructed alien language which uses the hydrogen atom as its organizing principle. Contrary to human language, whose bodily medium is mainly sound, EMLang and its speakers make use of color, sound, and haptics. How would this multi-modal language be compressed into a written form? How could we, as sonic interlocutors, interpret this language within the limits of our bodies? How would we apply our theories, academics, and technologies to the unfurling of this language?</p> 

          <p class="abstract">One potential answer to these questions is explored in <i>Linguistic Singularity Emergence (LSE)</i>, a live performance combining digital and embodied forms of human and alien language into a ritual of <i>linguistic thought-space convergence</i>: a unison of abstract meaning, arising from disparate methods of concrete articulation. Through LSE and other works, EMLang investigates the effects of language on culture, gender, and possibilities of self; the use of embodiment to produce new linguistic meaning through multisensorial experience; and the essential human drive to identify, understand, and communicate with beings we deem alien.</p>

          <p class="abstract">Full documentation can be found at <a href="https://ryurongliu.com/emlang">https://ryurongliu.com/emlang.</a></p>
        </div>
      </div>
    </div>
