---
title: 2024 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">Language & Narrative Identity: The Figure of the Transfuge in Annie Ernaux’s La place & Nella Larsen’s Passing</h2>
          </div>
          <div class="headline">
                <h2>Sara Rani Reddy</h2>
          </div>
          <div class="abstract">
          <p class="abstract">In his exploration of the relationship between life and fiction, the French philosopher Paul Ricœur analyzed the concept of narrative identity, writing that “we learn to become the <i>narrator</i> (...) <i>of our own story</i>” through a constant process of interpretation of life events (“Life in Quest of Narrative” 32). This is particularly important when considering the figure of the <i>transfuge</i>, a term describing one who departs from their given identity (i.e. race or socioeconomic status) in order to craft a new identity, to <i>pass</i> as something else. Through language, one forms their narrative identity, and by reinterpreting their life events, one can change their identity. This presentation will analyze two works of literature to understand how the transfuge uses language to craft their narrative identity and reinvent themselves, and how this process of reinvention might be undone to return to their original identity. I will compare Annie Ernaux’s 1983 autofiction book <i>La place</i>, about her experience as a <i>transfuge de classe</i>, having ascended to the upper middle class after being raised by working class parents, and Nella Larsen’s 1928 novel <i>Passing</i>, about two Black women’s experiences passing as white. Both texts are structured such that the events of the story are narrated with a degree of detachment, thus providing a stage upon which the language involved in the reinvention of one’s narrative identity can be seen and analyzed. This process of reinvention through language has an important resonance in the study of psychology: as one transitions between their original identity and their invented one, what remains is the universal and eternal question: <i>who am I?</i></p>

        </div>
      </div>
    </div>
